<ul>
{% case handle %}
  {% when 'cropped-blazer' %}
    <li>Narrow fit at the waist with extra room through hip</li>
    <li>Natalia is 5'10" and is wearing a size 34 A/B Tall</li>
    <li>Hits mid-hip</li>
  {% when 'awesome-blazer' %}
    <li>Info about stuff!</li>
    <li>Even more generated info!</li>
    <li>Hits somewhere on your body!</li>
{% endcase %}
</ul>