<ul>
{% case handle %}
  {% when 'chelsea-herringbone-pencil-skirt' %}
    <li>Pencil skirt hitting just above the knee</li>
    <li>Black & white herringbone</li>
    <li>Sits at hip with 1.5" wide waistband</li>
    <li>Contoured seaming with vent at center back</li>
    <li>Invisible zip closure at center back</li>
    <li>Fully lined in silky raspberry lining</li>
    <li>100% wool; lining: 100% polyester</li>
    <li>Dry clean only</li>
    <li>Made in the USA</li>
  {% when 'heather-fuschia-crepe-blazer' %}
    <li>Cropped collarless blazer falls at high hip</li>
    <li>Lightweight fuchsia wool crepe</li>
    <li>Silky raspberry lining with inner trim in thin gold braided rope</li>
    <li>No closure</li>
    <li>Side seam pockets</li>
    <li>Thin shoulder pad</li>
    <li>55% polyester, 45% wool; lining: 100% polyester</li>
    <li>Dry clean only</li>
    <li>Made in the USA</li>
  {% when 'charlie-black-cropped-jacket' %}
    <li>Cropped crewneck jacket</li>
    <li>Poly-blend</li>
    <li>Top stitch detailing</li>
    <li>Raglan sleeves to elbow</li>
    <li>Back pleat</li>
    <li>No pockets or closure</li>
    <li>Silky black lining</li>
    <li>Inner trim in thin gold braided rope</li>
    <li>90% polyester, 8% viscose, 2% spandex; lining: 100% polyester</li>
    <li>Dry clean only</li>
    <li>Made in the USA</li>
  {% when 'jaclyn-dress' %}
    <li>Sleeveless dress with fitted bodice and slight volume in skirt</li>
    <li>Diagonal front pockets</li>
    <li>Exposed back zipper in black with gold hardware</li>
    <li>Hidden snaps inside the shoulders keep bra straps from peeking out</li>
    <li>Fully lined</li>
    <li>Fuchsia crepe: 55% polyester, 45% wool; Black: 98% wool, 2% elastane; lining: 100% polyester</li>
    <li>Dry clean only</li>
    <li>Made in the USA</li>
  {% when 'jane-jacket' %}
    <li>Black, grey, and white bouclé with silver metallic accents</li>
    <li>Black grosgrain trim at collar, sleeves, pockets and hem</li>
    <li>Front welt pockets</li> 
      <li>Fully lined in slate with black grosgrain inner trim</li>
  	<li>No closure</li>
  	<li>86% polyester, 9% wool, 5% polyamide; lining: 97% polyester, 3% elastane</li>
  	<li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'emma-jacket' %}
    <li>White and navy bouclé with silver accents</li>
  	<li>Navy velvet trim at collar, front placket, sleeves and pockets</li> 
  	<li>Front welt pockets</li>
  	<li>Fully lined in blue-grey with navy grosgrain inner trim</li>
  	<li>No closure</li>
  	<li>49% polyester, 30% cotton, 21% viscose; lining: 100% polyester</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'chelsea-blazer-herringbone' %}
    <li>Black and white herringbone</li>
  	<li>Black grosgrain trim at lapel, front placket, and cuffs</li>
  	<li>Angled front welt pockets</li>
  	<li>Functional buttons at cuffs</li>
  	<li>Inner breast pocket</li>
  	<li>Fully lined in raspberry with black grosgrain inner trim</li>
  	<li>Single button closure</li>
  	<li>100% wool; lining: 100% polyester</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'riley-blazer-cobalt' %}
    <li>Navy grosgrain trim on lapel, front placket, and cuffs</li>
  	<li>Angled front welt pockets</li>
  	<li>Functional buttons at cuff</li>
  	<li>Inner breast pocket</li>
  	<li>Fully lined in plum with navy grosgrain inner trim</li>
  	<li>Single button closure</li>
  	<li>68% polyester, 28% Viscose, 4% Elastane; lining: 100% poly</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'elliott-blazer-black' %}
    <li>Two-button notch collar blazer</li>
  	<li>Front welt pockets</li>
  	<li>Functional buttons at cuffs</li>
  	<li>Inner breast pocket</li>
  	<li>Fully lined in slate with berry grosgrain inner trim</li>
  	<li>Two button closure</li>
  	<li>98% wool, 2% elastane; lining: 97% polyester, 3% spandex</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'kennedy-blouse-peplum' %}
    <li>Color-blocked short-sleeve peplum-style blouse</li>
  	<li>98% polyester, 2% elastane</li>
  	<li>Square neckline</li>
  	<li>Invisible zipper at side seam</li>
  	<li>Machine wash warm. Tumble dry low.</li>
  	<li>Made in the USA</li>
  {% when 'chloe-shirt' %}
    <li>Classic white button-down in stretch cotton</li>
  	<li>95% cotton, 5% elastane</li>
  	<li>One-button curved cuff</li>
  	<li>Machine wash warm. Tumble dry low.</li>
  	<li>Made in the USA</li>
  {% when 'fiona-blouse'%}
    <li>3/4 sleeve button-down blouse</li>
  	<li>Detachable bow at collar with button attachment</li>
  	<li>Shaping darts at waist in front and back</li>
  	<li>1 1/2 inch side vents</li>
  	<li>Single-button cuffs</li>
  	<li>100% silk crêpe de chine</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'ansley-dress-berry' %}
    <li>Knee-length dress in ponte</li>
  	<li>3/4 length sleeves</li>
  	<li>Classic jewel neckline</li>
  	<li>Waist seam with pleat detail</li>
  	<li>Invisible zipper closure at center back</li>
  	<li>Ponte fabric (67% cotton, 26% nylon, 7% Lycra)</li>
  	<li>Machine wash warm. Tumble dry low.</li>
  	<li>Made in the USA</li>
  {% when 'elliott-sheath-black' %}
    <li>Knee-length sheath dress</li>
  	<li>Classic jewel neckline</li>
  	<li>Contoured seaming at bust and hip</li>
  	<li>Fully lined in slate with berry grosgrain inner trim</li>
  	<li>Black grosgrain trim along neckline and armholes</li>
  	<li>Invisible zipper closure at center back</li>
  	<li>98% wool, 2% elastane; lining: 100% polyester</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'riley-sheath-navy' %}
    <li>Knee-length sheath dress</li>
  	<li>Classic jewel neckline</li>
  	<li>Contoured seaming at bust and hip</li>
  	<li>Fully lined in plum lining with navy grosgrain inner trim</li>
  	<li>Contrast navy grosgrain trim along neckline and armholes</li>
  	<li>Invisible zipper closure at center back</li>
  	<li>68% polyester, 28% viscose, 4% elastane; lining: 100% polyester</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'elliott-trouser-black' %}
    <li>Straight-leg trouser</li>
  	<li>Sits at hip with wide waistband</li>
  	<li>Back functional welt pockets</li>
  	<li>Center front zipper and hook-and-bar closure</li>
  	<li>Unlined</li>
  	<li>98% wool, 2% elastane</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'elliott-pant-black' %}
    <li>Skinny-leg pant</li>
  	<li>Sits at hip with 1.5" wide waistband</li>
  	<li>Faux welt pockets at back</li>
  	<li>Side zip closure</li>
  	<li>Unlined</li>
  	<li>98% wool, 2% elastane</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'riley-pant-cobalt' %}
    <li>Skinny-leg pant</li>
  	<li>Sits at hip with 1.5" wide waistband</li>
  	<li>Faux welt pockets at back</li>
  	<li>Contrast navy grosgrain trim at waistband</li>
  	<li>Side zip closure</li>
  	<li>Unlined</li>
  	<li>68% polyester, 28% viscose, 4% elastane</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'elliott-sheath-skirt' %}
    <li>Long pencil skirt hitting one inch below the knee</li>
  	<li>Sits at hip with 1.5" wide waistband</li>
  	<li>Contoured seaming at hips with vent opening on front left seam</li>
  	<li>Invisible zip closure at center back</li>
  	<li>Fully lined in slate stretch lining with berry grosgrain inner trim</li>
  	<li>98% wool, 2% elastane; lining: 100% polyester</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'elliott-pencil-skirt' %}
    <li>Pencil skirt hitting just above the knee</li>
  	<li>Sits at hip with 1.5" wide waistband</li>
  	<li>Contoured seaming with vent at center back</li>
  	<li>Invisible zip closure at center back</li>
  	<li>Fully lined in slate with berry grosgrain inner trim</li>
  	<li>98% wool, 2% elastane; lining: 100% polyester</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
  {% when 'riley-skirt-cobalt' %}
    <li>Pencil skirt hitting just above the knee</li>
  	<li>Sits at hip with 1.5" wide waistband</li>
  	<li>Contrast navy grosgrain trim at waistband</li>
  	<li>Contoured seaming with vent at center back</li>
  	<li>Invisible zip closure at center back</li>
  	<li>Fully lined in plum with navy grosgrain inner trim</li>
  	<li>68% polyester, 28% viscose, 4% elastane; lining: 100% polyester</li>
    <li>Dry clean only</li>
  	<li>Made in the USA</li>
{% endcase %}
</ul>