<ul>
  {% case handle %}
    {% when 'cropped-blazer' %}
      <li>Goes from day to night</li>
      <li>100% wool means it's cozy when the office is cold</li>
      <li>You finally own a perfect blazer</li>
      <li>Perfect for layering</li>
      <li>Lorem ipsum</li>
    {% when 'awesome-blazer' %}
      <li>Awesomely goes from day to night, everytime</li>
      <li>100% awesome means it's cozy</li>
      <li>More awesome</li>
      <li>Perfect for layering</li>
      <li>Lorem ipsum</li>
    {% when 'jane-jacket' %}
      <li>Our most popular jacket &mdash; in chic Italian wool bouclé</li>
      <li>A breeze to dress up or dress down</li>
      <li>Three-quarter length sleeves showcase statement jewelry</li>
      <li>Silky lining gives this classic piece luxurious wear</li>
    {% when 'emma-jacket' %}
      <li>All the reasons we (and you!) love our Jane jacket, with a fresh twist</li>
      <li>Gracefully glide from boardroom to soirée in white bouclé with silver and navy accents</li>
      <li>Three-quarter length sleeves showcase statement jewelry</li>
      <li>Silky lining gives this classic piece luxurious wear</li>
    {% when 'chelsea-blazer-herringbone' %}
      <li>A classic notch collar jacket re-imagined in a modern, feminine shape</li>
      <li>Timeless black and white herringbone is effortlessly cool</li>
      <li>Details like functional cuff buttons and a hidden inner pocket add a touch of bespoke tailoring</li>
      <li>Roll up your sleeves and flash a wink of raspberry lining</li>
    {% when 'riley-blazer-cobalt' %}
      <li>Part of our chic Riley suiting collection, in incredibly flattering and comfortable stretch fabric</li>
      <li>Cobalt is our favorite new neutral; pair it with black accents to let the playful hue really pop</li>
      <li>A classic notch collar jacket is re-defined in a modern feminine shape</li>
      <li>Navy contrast trim creates a sharp style statement</li>
    {% when 'elliott-blazer-black' %}
      <li>Part of our favorite Elliott suiting collection, in our refined seasonless lightweight wool</li>
      <li>Your go-to staple blazer, made with attention to every detail</li>
      <li>Instantly transforms any look to city-chic</li>
      <li>Impeccable fit meets a classic yet oh-so-modern silhouette</li>
    {% when 'kennedy-blouse-peplum' %}
      <li>Office appropriate yet super stylish and versatile</li>
      <li>Flawless tailoring creates covetable hourglass proportions</li>
      <li>The easiest pick from day to night – pair with a pencil skirt for day, switch to skinnies for a sleek after-hours look</li>
      <li>Stretch crepe is ultra-flattering and won’t ever lose its shape</li>
    {% when 'chloe-shirt' %}
      <li>Never have a wardrobe emergency again with this timeless and versatile piece</li>
      <li>We’ve perfected the fit and added a hidden snap between buttons- no more gaping, stretching or pulling</li>
      <li>Soft yet structured cotton is perfect alone or layered- with the ideal amount of stretch</li>
    {% when 'fiona-blouse-polka-dot'%}
      <li>Effortlessly sophisticated, this classic bow blouse has a detachable bow to be worn two ways</li>
    	<li>This pretty and playful print will never go out of style- we &hearts; polka dots!</li>
    	<li>Silk crepe de chine isn’t sheer or shiny, and stays snag-free</li>
    	<li>We’ve perfected the fit and added a hidden snap between buttons &mdash; no more gaping, stretching or pulling</li>
    {% when 'ansley-dress-berry' %}
      <li>Stretch ponte won’t lose shape, wrinkle, or shrink- step off the plane and into a meeting in style</li>
    	<li>Subtle draping and stretch ponte cover any lumps, bumps or lines for a lean and smooth silhouette</li>
    	<li>Knee-length skirt and ¾ length sleeves are ideal for office but carry you easily into any after-hours occasion</li>
    {% when 'elliott-sheath-black' %}
      <li>Part of our favorite Elliott suiting collection, in our refined seasonless lightweight wool</li>
    	<li>A one-stop solution to city-chic style, this LBD is equally ready for the workplace or cocktails</li>
    	<li>Contoured seaming and grosgrain trim add extra elegance to a classic sheath design</li>
    	<li>Silky stretch lining keeps you in comfort all day (and night) long</li>
    {% when 'riley-sheath-navy' %}
      <li>Part of our chic Riley suiting collection, in incredibly flattering and comfortable stretch fabric</li>
    	<li>Knee-length cut transitions this piece perfectly from work to dinner to after-hours</li>
    	<li>Contoured seaming and grosgrain trim add extra elegance to a classic sheath design</li>
    	<li>Silky stretch lining keeps you in comfort all day (and night) long</li>
    {% when 'elliott-trouser-black' %}
      <li>Part of our favorite Elliott suiting collection, in our refined seasonless lightweight wool</li>
    	<li>Choose from 4 inseam lengths &mdash; finally, trousers long enough to wear with your heels!</li>
    	<li>No front pockets and a contoured waistband create a clean and flattering silhouette</li>
    {% when 'elliott-pant-black' %}
      <li>Part of our favorite Elliott suiting collection, in our refined seasonless lightweight wool</li>
    	<li>Paired with a matching blazer or a sweet bow blouse- these skinnies are the key to looking professionally stylish</li>
    	<li>Tailored to perfection &mdash; an absolute must for any woman’s wardrobe</li>
    	<li>No pockets or belt loops and a side zip closure creates a super long, sleek line</li>
    {% when 'riley-pant-cobalt' %}
      <li>Part of our chic Riley suiting collection, in incredibly flattering and comfortable stretch fabric</li>
    	<li>Tailored to perfection-and with a pop of color pizzazz</li>
    	<li>Contrast navy grosgrain trim adds just the right polish</li>
    	<li>No pockets or belt loops and a side zip closure creates a super long, sleek line</li>
    {% when 'elliot-sheath-skirt' %}
      <li>Part of our favorite Elliott suiting collection, in our refined seasonless lightweight wool</li> 
    	<li>We’ve perfected the fit &mdash; shaping seams glide effortlessly over curves</li>
    	<li>No pockets and a hidden zipper closure create a super sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
    {% when 'elliot-pencil-skirt' %}
      <li>Part of our favorite Elliott suiting collection, in our refined seasonless lightweight wool</li> 
    	<li>We’ve perfected the fit &mdash; shaping seams glide effortlessly over curves</li>
    	<li>No pockets and a hidden zipper closure create a super sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
    {% when 'riley-skirt-cobalt' %}
      <li>Part of our chic Riley suiting collection, in incredibly flattering and comfortable stretch fabric</li>
    	<li>We’ve perfected the fit- shaping seams glide effortlessly over curves</li>
    	<li>No pockets and a hidden zipper closure create a super sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
  {% endcase %}
</ul>