<ul>
  {% case handle %}
    {% when 'cropped-blazer' %}
      <li>Goes from day to night</li>
      <li>100% wool means it's cozy when the office is cold</li>
      <li>You finally own a perfect blazer</li>
      <li>Perfect for layering</li>
      <li>Lorem ipsum</li>
    {% when 'awesome-blazer' %}
      <li>Awesomely goes from day to night, everytime</li>
      <li>100% awesome means it's cozy</li>
      <li>More awesome</li>
      <li>Perfect for layering</li>
      <li>Lorem ipsum</li>
  {% endcase %}
</ul>