<ul>
  {% case handle %}
    {% when 'cropped-blazer' %}
      <li>Goes from day to night</li>
      <li>100% wool means it's cozy when the office is cold</li>
      <li>You finally own a perfect blazer</li>
      <li>Perfect for layering</li>
      <li>Lorem ipsum</li>
    {% when 'awesome-blazer' %}
      <li>Awesomely goes from day to night, every time</li>
      <li>100% awesome means it's cozy</li>
      <li>More awesome</li>
      <li>Perfect for layering</li>
      <li>Lorem ipsum</li>
    {% when 'jane-jacket' %}
      <li>Our most popular jacket &mdash; in chic Italian wool bouclé</li>
      <li>A cinch to dress up or dress down</li>
      <li>Three-quarter length sleeves showcase statement jewelry</li>
      <li>Silky lining gives this classic piece luxurious wear</li>
    {% when 'emma-jacket' %}
      <li>Fresh twist on our beloved Jane jacket</li>
      <li>Silver accents add depth and shine</li>
      <li>Three-quarter length sleeves showcase statement jewelry</li>
      <li>Silky lining for a luxurious wear</li>
    {% when 'chelsea-blazer-herringbone' %}
      <li>A classic notch collar re-imagined</li>
      <li>Timeless black and white herringbone</li>
      <li>Functional cuff buttons and an inner pocket add a touch of bespoke tailoring</li>
      <li>Silky hint of raspberry lining</li>
    {% when 'riley-blazer-cobalt' %}
      <li>Part of our chic <a href="/collections/the-riley-collection">Riley collection</a>, in incredibly flattering stretch fabric</li>
      <li>Cobalt is our favorite new neutral &mdash; pair with black for a color pop</li>
      <li>A classic notch collar re-imagined</li>
      <li>Navy contrast trim creates a sharp style statement</li>
    {% when 'elliott-blazer-black' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a></li>
      <li>Your go-to staple blazer, made with attention to every detail</li>
      <li>Instantly transforms any look to city-chic</li>
      <li>Impeccable fit meets a classic yet modern silhouette</li>
    {% when 'kennedy-blouse-peplum' %}
      <li>Office-appropriate, stylish and versatile</li>
      <li>Flawless tailoring creates enviable hourglass proportions</li>
      <li>The easiest pick from day to night</li>
      <li>Stretch crepe won’t ever lose shape</li>
    {% when 'chloe-shirt' %}
      <li>Never have a wardrobe emergency again</li>
      <li>We’ve perfected the fit and added a hidden snap &mdash; no more gaping</li>
      <li>Perfect alone or layered</li>
      <li>Soft cotton with just enough stretch</li>
    {% when 'fiona-blouse' %}
      <li>A detachable bow to wear it two ways!</li>
        <li>100% silk that isn't sheer or shiny</li>
    	<li>We’ve perfected the fit and added a hidden snap &mdash; no more gaping</li>
    	<li>Darting that creates a beautiful feminine silhouette</li>
    {% when 'ansley-dress-berry' %}
      <li>Won’t lose shape, wrinkle or shrink</li>
    	<li>Ultra-flattering subtle draping</li>
    	<li>Ponte covers any lumps, bumps or lines for a lean and smooth silhouette</li>
    	<li>Ideal for office and after-hours</li>
    {% when 'elliott-sheath-black' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a></li>
    	<li>A one-stop solution to city-chic style</li>
    	<li>Contoured seaming adds elegance</li>
    	<li>Silky stretch lining keeps you in comfort all day (and night) long</li>
    {% when 'riley-sheath-navy' %}
      <li>Part of our chic <a href="/collections/the-riley-collection">Riley collection</a>, in incredibly flattering stretch fabric</li>
    	<li>Knee-length cut is perfect for work and after-hours</li>
    	<li>Contoured seaming adds elegance</li>
    	<li>Silky stretch lining keeps you in comfort all day (and night) long</li>
    {% when 'elliott-trouser-black' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a></li>
    	<li>Choose from 4 inseam lengths &mdash; finally, trousers you can wear with your heels!</li>
    	<li>Attention to detail takes the forefront</li>
    	<li>Clean and flattering silhouette</li>
    {% when 'elliott-pant-black' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a></li>
    	<li>These skinnies are the key to looking professionally stylish</li>
    	<li>Tailored to perfection &mdash; an absolute must for any woman's wardrobe</li>
    	<li>Side zip closure for a sleek line</li>
    {% when 'riley-pant-cobalt' %}
      <li>Part of our chic <a href="/collections/the-riley-collection">Riley collection</a>, in incredibly flattering stretch fabric</li>
    	<li>Tailored to perfection, and with a pop of color pizzazz</li>
    	<li>Contrast trim adds just the right polish</li>
    	<li>Side zip closure for a sleek line</li>
    {% when 'elliott-sheath-skirt' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a></li>
    	<li>We’ve perfected the fit &mdash; shaping seams glide effortlessly over curves</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
    {% when 'elliott-pencil-skirt' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a></li> 
    	<li>We’ve perfected the fit &mdash; shaping seams glide effortlessly over curves</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
    {% when 'riley-skirt-cobalt' %}
      <li>Part of our chic <a href="/collections/the-riley-collection">Riley collection</a>, in incredibly flattering stretch fabric</li>
    	<li>We’ve perfected the fit &mdash; shaping seams glide over curves</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
  {% endcase %}
</ul>