<ul>
  {% case handle %}
    {% when 'chelsea-herringbone-pencil-skirt' %}
      <li>Part of our <a href="/collections/the-chelsea-collection">Chelsea collection</a>, in smooth herringbone wool</li>
      <li>No pockets and ultra-flattering seaming</li>
      <li>A sleek silhouette in a weightier wool is perfect for cooler days</li>
      <li>Silky lining plus our meticulous fit make this skirt the ultimate in comfort</li>
    {% when 'heather-fuschia-crepe-blazer' %}
      <li>Luxe crepe fabric adds a touch of structure and subtle texture</li>
      <li>A rich fuchsia hue that is universally flattering</li>
      <li>Slim silhouette with side seam pockets has infinitely more polish than a cardigan</li>
      <li>The perfect lightweight piece to top off your favorite dress</li>
    {% when 'charlie-black-cropped-jacket' %}
      <li>Raglan sleeves with top stitch detail and box pleat at the back</li>
      <li>Super soft outer shell, silky black lining &amp; inner trim in thin gold braided rope</li>
      <li>Finally a jacket that pairs perfectly with dresses</li>
      <li>Just as cute with a sweater and jeans for a more casual vibe</li>
    {% when 'jaclyn-dress' %}
      <li>Fitted sexy bodice with full voluminous skirt and pockets</li>
      <li>Available in rich fuchsia crepe or <a href="/collections/the-elliott-collection" title="The Elliott Collection">classic Elliott stretch black wool suiting</a></li>
      <li>Thoughtfully designed hidden snaps inside the shoulders keep bra straps from peeking out</li>
      <li>Wear it with a blazer for work, and alone at night to showcase the v-neck back and gold exposed zipper</li>
    {% when 'jane-jacket' %}
      <li>Gorgeous bouclé fabric imported from a mill in Italy</li>
      <li>Shades of black, grey, and white with silver metallic accents</li>
      <li>Incredibly versatile &mdash; mix &amp; match with the rest of your wardrobe</li>
      <li>Three-quarter length sleeves showcase statement jewelry</li>
    {% when 'emma-jacket' %}
      <li>Luxurious Italian bouclé in shades of white, cream, blue, and grey with a hint of navy</li>
      <li>Metallic silver accents add depth and shine</li>
      <li>Navy velvet trim at collar, front placket, sleeves and pockets</li>
      <li>Pop color lining in blue-grey</li>
      <li>Looks great with black, navy, all shades of blue and white</li>
    {% when 'chelsea-blazer-herringbone' %}
      <li>Part of our <a href="/collections/the-chelsea-collection">Chelsea collection</a>, in smooth herringbone wool</li>
      <li>New England prep meets classic riding jacket</li>
      <li>Classic black and white wool herringbone will never go out of style</li>
      <li>Doubles as a blazer or a fall jacket</li>
      <li>Functional cuff buttons and an inner pocket add a touch of bespoke tailoring</li>
      <li>Silky hint of raspberry lining</li>
    {% when 'riley-blazer-cobalt' %}
      <li>Part of our <a href="/collections/the-riley-collection">Riley collection</a>, in incredibly comfortable 4-way stretch fabric</li>
      <li>Cobalt is our favorite new neutral &mdash; pair with black for a color pop</li>
      <li>Navy contrast trim and plum lining create a sharp statement</li>
      <li>Single-button notch collar with angled cutaway for a modern look</li>
    {% when 'elliott-blazer-black' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a> in black stretch wool</li>
      <li>Classic two-button jacket with rounded cutaway</li>
      <li>Fit and flare waist is slimming, not boxy</li>
      <li>Silky slate grey lining has luxurious look &amp; feel</li>
      <li>Stretch fabric and lining for comfort and mobility</li>
    {% when 'kennedy-blouse-peplum' %}
      <li>The silhouette of the season translated to workwear</li>
      <li>Pairs well with a slim-fit pant, pencil skirt, or skinny jean</li>
      <li>Wear with black or pop colors for maximum impact</li>
      <li>Stretch crepe drapes beautifully for a polished look that's effortless</li>
    {% when 'chloe-shirt' %}
      <li>Customers say this is the best fitting white shirt they've ever worn</li>
      <li>Hidden snap to prevent gaping and pulling</li>
      <li>Fabric with extra stretch and super soft feel</li>
      <li>Thick enough to wear without a tank</li>
    {% when 'fiona-blouse' %}
      <li>A detachable bow to wear it two ways!</li>
      <li>100% silk that isn't sheer or shiny</li>
        <li>We’ve perfected the fit and added a hidden snap &mdash; no more gaping or pulling</li>
        <li>Darting that creates a beautiful feminine silhouette</li>
    {% when 'ansley-dress-berry' %}
      <li>Won’t lose shape, wrinkle or shrink</li>
    	<li>Ultra-flattering subtle draping</li>
    	<li>Ponte covers any lumps, bumps or lines for a lean and smooth silhouette</li>
    	<li>Ideal for office and after-hours</li>
    {% when 'elliott-sheath-black' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a> in stretch black wool</li>
    	<li>The perfect desk to dinner dress</li>
    	<li>Black grosgrain trim and feminine seaming for a designer look</li>
    	<li>Designed to cover your bra straps and offered in 3 lengths</li>
    {% when 'riley-sheath-navy' %}
      <li>Part of our chic <a href="/collections/the-riley-collection">Riley collection</a>, in incredibly comfortable 4-way stretch fabric</li>
    	<li>Wrinkle-free and thick enough to hide lumps, bumps and lines</li>
    	<li>Navy grosgrain trim and feminine seaming for a designer look</li>
    	<li>Unexpected plum pop color lining</li>
    {% when 'elliott-trouser-black' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a> in stretch black wool</li>
    	<li>Choose from 4 inseam lengths!</li>
    	<li>Classic silhouette you'll wear season after season</li>
    	<li>Slimming design without front pockets or belt loops</li>
    {% when 'elliott-pant-black' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a> in stretch black wool</li>
    	<li>Paired with a blazer or sweet blouse, these skinnies are the key to looking professionally stylish</li>
    	<li>Cropped to the ankle to showcase your favorite heels</li>
    	<li>Side zip closure for a long, sleek line</li>
    {% when 'riley-pant-cobalt' %}
      <li>Part of our chic <a href="/collections/the-riley-collection">Riley collection</a>, in incredibly comfortable 4-way stretch fabric</li>
    	<li>Bring this season's colored denim trend into the workplace</li>
    	<li>Navy grosgrain trim at the waistband adds just the right polish</li>
    	<li>Side zip closure for a sleek line</li>
    {% when 'elliott-sheath-skirt' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a> in stretch black wool</li>
    	<li>Below the knee pencil skirt adds sophistication to any look</li>
    	<li>Look instantly chic with a black turtleneck or sweater</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
    {% when 'elliott-pencil-skirt' %}
      <li>Part of our smart <a href="/collections/the-elliott-collection">Elliott collection</a> in stretch black wool</li> 
    	<li>Beautiful seaming and a tailored fit to flatter your figure</li>
    	<li>Offered in 3 lengths to guarantee an office appropriate hem line</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
    {% when 'riley-skirt-cobalt' %}
      <li>Part of our chic <a href="/collections/the-riley-collection">Riley collection</a>, in incredibly comfortable 4-way stretch fabric</li>
    	<li>Wrinkle-free and thick enough to hide lumps, bumps and lines</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Navy grosgrain trim at waistband adds the right amount of polish</li>
    	<li>Fully lined plum pop color lining with stretch for extra comfort</li>
  {% endcase %}
</ul>