<ul>
  {% case handle %}
    {% when 'cropped-blazer' %}
      <li>Goes from day to night</li>
      <li>100% wool means it's cozy when the office is cold</li>
      <li>You finally own a perfect blazer</li>
      <li>Perfect for layering</li>
      <li>Lorem ipsum</li>
    {% when 'awesome-blazer' %}
      <li>Awesomely goes from day to night, everytime</li>
      <li>100% awesome means it's cozy</li>
      <li>More awesome</li>
      <li>Perfect for layering</li>
      <li>Lorem ipsum</li>
    {% when 'jane-jacket' %}
      <li>Chic Italian wool bouclé</li>
      <li>A breeze to dress up or dress down</li>
      <li>Three-quarter length sleeves showcase statement jewelry</li>
      <li>Silky lining for a luxurious wear</li>
    {% when 'emma-jacket' %}
      <li>Fresh twist on our beloved Jane jacket</li>
      <li>Silver accents add depth and shine</li>
      <li>Three-quarter length sleeves showcase statement jewelry</li>
      <li>Silky lining for a luxurious wear</li>
    {% when 'chelsea-blazer-herringbone' %}
      <li>A classic notch collar re-imagined</li>
      <li>Timeless black and white herringbone</li>
      <li>Functional cuff buttons and an inner pocket add a touch of bespoke tailoring</li>
      <li>Silky touch of raspberry lining</li>
    {% when 'riley-blazer-cobalt' %}
      <li>Part of our chic Riley collection</li>
      <li>Cobalt is our favorite new neutral &mdash; pair it with black to let the color pop</li>
      <li>A classic notch collar re-imagined</li>
      <li>Navy contrast trim creates a sharp style statement</li>
    {% when 'elliott-blazer-black' %}
      <li>Part of our favorite Elliott collection</li>
      <li>Made with attention to every detail</li>
      <li>Instantly transforms any look to city-chic</li>
      <li>Impeccable fit meets a classic yet oh-so-modern silhouette</li>
    {% when 'kennedy-blouse-peplum' %}
      <li>Office-appropriate, stylish and versatile</li>
      <li>Flawless tailoring creates covetable hourglass proportions</li>
      <li>The easiest pick from day to night</li>
      <li>Stretch crepe won’t ever lose shape</li>
    {% when 'chloe-shirt' %}
      <li>Never have a wardrobe emergency again</li>
      <li>We’ve perfected the fit and added a hidden snap &mdash; no more gaping</li>
      <li>Perfect alone or layered</li>
      <li>Soft cotton with just enough stretch</li>
    {% when 'fiona-blouse' %}
      <li>A detachable bow to wear it two ways!</li>
    	<li>Crepe de chine isn’t sheer or shiny</li>
    	<li>We’ve perfected the fit and added a hidden snap &mdash; no more gaping</li>
    	<li>Darting shapes a beautiful feminine line</li>
    {% when 'ansley-dress-berry' %}
      <li>Won’t lose shape, wrinkle or shrink</li>
    	<li>Ultra-flattering subtle draping</li>
    	<li>Ponte covers any lumps, bumps or lines for a lean and smooth silhouette</li>
    	<li>Ideal for office and after-hours</li>
    {% when 'elliott-sheath-black' %}
      <li>Part of our favorite Elliott collection</li>
    	<li>A one-stop solution to city-chic style</li>
    	<li>Contoured seaming adds elegance</li>
    	<li>Silky stretch lining keeps you in comfort all day (and night) long</li>
    {% when 'riley-sheath-navy' %}
      <li>Part of our chic Riley collection</li>
    	<li>Perfect from work to after-hours</li>
    	<li>Contoured seaming adds elegance</li>
    	<li>Silky stretch lining keeps you in comfort all day (and night) long</li>
    {% when 'elliott-trouser-black' %}
      <li>Part of our favorite Elliott collection</li>
    	<li>Choose from 4 inseam lengths &mdash; finally, trousers you can wear with your heels!</li>
    	<li>Attention to detail takes the forefront</li>
    	<li>Clean and flattering silhouette</li>
    {% when 'elliott-pant-black' %}
      <li>Part of our favorite Elliott collection</li>
    	<li>These skinnies are the key to looking professionally stylish</li>
    	<li>Tailored to perfection</li>
    	<li>Side zip closure for a long, sleek line</li>
    {% when 'riley-pant-cobalt' %}
      <li>Part of our chic Riley collection</li>
    	<li>Tailored to perfection-and with a pop of color pizzazz</li>
    	<li>Contrast trim adds just the right polish</li>
    	<li>Side zip closure for a long, sleek line</li>
    {% when 'elliot-sheath-skirt' %}
      <li>Part of our favorite Elliott collection</li> 
    	<li>We’ve perfected the fit &mdash; shaping seams glide effortlessly over curves</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
    {% when 'elliot-pencil-skirt' %}
      <li>Part of our favorite Elliott collection</li> 
    	<li>We’ve perfected the fit &mdash; shaping seams glide effortlessly over curves</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
    {% when 'riley-skirt-cobalt' %}
      <li>Part of our chic Riley collection</li>
    	<li>We’ve perfected the fit- shaping seams glide effortlessly over curves</li>
    	<li>Hidden zipper closure creates a sleek line</li>
    	<li>Fully lined in silky stretch lining</li>
  {% endcase %}
</ul>