{% case handle %}
  {% when 'chelsea-herringbone-pencil-skirt' %}
    <table>
        <tbody>
          <tr>
            <td><span>Length</span></td>
            <td></td>
          </tr>
          <tr>
            <td><span>Petite</span></td>
            <td>19"</td>
          </tr>
          <tr>
            <td><span>Regular</span></td>
            <td>21"</td>
          </tr>
          <tr>
            <td><span>Tall</span></td>
            <td>23"</td>
          </tr>
        </tbody>
      </table>
    {% when 'elliott-sheath-black' %}
     <table>
       <tbody>
         <tr>
           <td><span>Regular</span></td>
           <td><span>32</span></td>
           <td><span>34</span></td>
           <td><span>36</span></td>
           <td><span>38</span></td>
           <td><span>40</span></td>
         </tr>
         <tr>
            <td><span>Dress Length</span></td>
            <td>37 1/2"</td>
            <td>38"</td>
            <td>38 1/2"</td>
            <td>39"</td>
            <td>39 1/2"</td>
          </tr>
       </tbody>
       </table>
       <table>
         <tbody>
           <tr>
             <td><span>Petite</span></td>
             <td><span>32</span></td>
             <td><span>34</span></td>
             <td><span>36</span></td>
             <td><span>38</span></td>
             <td><span>40</span></td>
           </tr>
           <tr>
             <td><span>Dress Length</span></td>
             <td>35 1/2"</td>
             <td>36"</td>
             <td>36 1/2"</td>
             <td>37"</td>
             <td>37 1/2"</td>
           </tr>
         </tbody>
       </table>
       <table>
         <tbody>
           <tr>
             <td><span>Tall</span></td>
             <td><span>32</span></td>
             <td><span>34</span></td>
             <td><span>36</span></td>
             <td><span>38</span></td>
             <td><span>40</span></td>
           </tr>
           <tr>
             <td><span>Dress Length</span></td>
             <td>40 1/4"</td>
             <td>40 3/4"</td>
             <td>41 1/4"</td>
             <td>41 3/4"</td>
             <td>42 1/4"</td>
           </tr>
         </tbody>
     </table>
     <ul>
       <li class="hem-details">Dress has 1 1/2" hem that can be let out in tailoring</li>
     </ul>
    {% when 'elliott-blazer-black' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Jacket Length</span></td>
            <td>24 1/4"</td>
            <td>24 1/2"</td>
            <td>24 13/4"</td>
            <td>25"</td>
            <td>25 1/4"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>23 8/10"</td>
            <td>24"</td>
            <td>24 3/10"</td>
            <td>24 5/10"</td>
            <td>24 8/10"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>22 3/4"</td>
              <td>23"</td>
              <td>23 1/4"</td>
              <td>23 1/2"</td>
              <td>23 3/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>22 3/10"</td>
              <td>22 5/10"</td>
              <td>22 8/10"</td>
              <td>23"</td>
              <td>23 3/10"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>25 3/4"</td>
              <td>26"</td>
              <td>26 1/4"</td>
              <td>26 1/2"</td>
              <td>26 3/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>25 8/10"</td>
              <td>26"</td>
              <td>26 3/10"</td>
              <td>26 5/10"</td>
              <td>26 8/10"</td>
            </tr>
          </tbody>
      </table>
      <ul>
         <li class="hem-details">Dress has 1" hem that can be let out in tailoring</li>
       </ul>
  {% when 'charlie-black-cropped-jacket' %}
    <table>
      <tbody>
        <tr>
          <td><span>Regular</span></td>
          <td><span>32</span></td>
          <td><span>34</span></td>
          <td><span>36</span></td>
          <td><span>38</span></td>
          <td><span>40</span></td>
        </tr>
        <tr>
          <td><span>Jacket Length</span></td>
          <td>18 1/2"</td>
          <td>19"</td>
          <td>19 1/2"</td>
          <td>20"</td>
          <td>20 1/2"</td>
        </tr>
        <tr>
          <td><span>Sleeve Length</span></td>
          <td>16 3/4"</td>
          <td>17"</td>
          <td>17 1/4"</td>
          <td>17 1/2"</td>
          <td>17 3/4"</td>
        </tr>
      </tbody>
    </table>
  {% when 'heather-fuschia-crepe-blazer' %}
    <table>
      <tbody>
        <tr>
          <td><span>Regular</span></td>
          <td><span>32</span></td>
          <td><span>34</span></td>
          <td><span>36</span></td>
          <td><span>38</span></td>
          <td><span>40</span></td>
        </tr>
        <tr>
          <td><span>Jacket Length</span></td>
          <td>24 1/4"</td>
          <td>24 1/2"</td>
          <td>24 3/4"</td>
          <td>25"</td>
          <td>25 1/2"</td>
        </tr>
        <tr>
          <td><span>Sleeve Length</span></td>
          <td>23 3/4"</td>
          <td>24"</td>
          <td>24 1/4"</td>
          <td>24 1/2"</td>
          <td>24 3/4"</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <td><span>Petite</span></td>
          <td><span>32</span></td>
          <td><span>34</span></td>
          <td><span>36</span></td>
          <td><span>38</span></td>
          <td><span>40</span></td>
        </tr>
        <tr>
          <td><span>Jacket Length</span></td>
          <td>22 3/4"</td>
          <td>23"</td>
          <td>23 1/4"</td>
          <td>23 1/2"</td>
          <td>23 3/4"</td>
        </tr>
        <tr>
          <td><span>Sleeve Length</span></td>
          <td>22 1/4"</td>
          <td>22 1/2"</td>
          <td>22 3/4"</td>
          <td>23"</td>
          <td>23 1/2"</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <td><span>Tall</span></td>
          <td><span>32</span></td>
          <td><span>34</span></td>
          <td><span>36</span></td>
          <td><span>38</span></td>
          <td><span>40</span></td>
        </tr>
        <tr>
          <td><span>Jacket Length</span></td>
          <td>25 3/4"</td>
          <td>26"</td>
          <td>26 1/4"</td>
          <td>26 1/2"</td>
          <td>26 3/4"</td>
        </tr>
        <tr>
          <td><span>Sleeve Length</span></td>
          <td>25 1/4"</td>
          <td>25 1/2"</td>
          <td>25 3/4"</td>
          <td>26"</td>
          <td>26 1/4"</td>
        </tr>
      </tbody>
    </table>
  {% when 'jaclyn-dress' %}
    <table>
      <tbody>
        <tr>
          <td><span>Regular</span></td>
          <td><span>32</span></td>
          <td><span>34</span></td>
          <td><span>36</span></td>
          <td><span>38</span></td>
          <td><span>40</span></td>
        </tr>
        <tr>
          <td><span>Dress Length</span></td>
          <td>36 1/2"</td>
          <td>37"</td>
          <td>37 1/2"</td>
          <td>38"</td>
          <td>38 1/2"</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <td><span>Petite</span></td>
          <td><span>32</span></td>
          <td><span>34</span></td>
          <td><span>36</span></td>
          <td><span>38</span></td>
          <td><span>40</span></td>
        </tr>
        <tr>
          <td><span>Dress Length</span></td>
          <td>34 1/2"</td>
          <td>35"</td>
          <td>35 1/2"</td>
          <td>36"</td>
          <td>36 1/2"</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <td><span>Tall</span></td>
          <td><span>32</span></td>
          <td><span>34</span></td>
          <td><span>36</span></td>
          <td><span>38</span></td>
          <td><span>40</span></td>
        </tr>
        <tr>
          <td><span>Dress Length</span></td>
          <td>39 1/4"</td>
          <td>39 3/4"</td>
          <td>40 1/4"</td>
          <td>40 3/4"</td>
          <td>41 1/4"</td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li class="hem-details">Dress has 1 1/2" hem that can be let out in tailoring</li>
    </ul>
    {% when 'ansley-dress-berry' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Dress Length</span></td>
            <td>37 1/2"</td>
            <td>38"</td>
            <td>38 1/2"</td>
            <td>39"</td>
            <td>39 1/2"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>18"</td>
            <td>18"</td>
            <td>18"</td>
            <td>18"</td>
            <td>18"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Dress Length</span></td>
              <td>35 1/2"</td>
              <td>36"</td>
              <td>36 1/2"</td>
              <td>37"</td>
              <td>37 1/2"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>17 1/4"</td>
              <td>17 1/4"</td>
              <td>17 1/4"</td>
              <td>17 1/4"</td>
              <td>17 1/4"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Dress Length</span></td>
              <td>40 1/4"</td>
              <td>40 3/4"</td>
              <td>41 1/4"</td>
              <td>41 3/4"</td>
              <td>42 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>19"</td>
              <td>19"</td>
              <td>19"</td>
              <td>19"</td>
              <td>19"</td>
            </tr>
          </tbody>
      </table>
      <ul>
        <li class="hem-details">Dress has 1 1/2" hem that can be let out in tailoring</li>
      </ul>
    {% when 'jane-jacket' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Jacket Length</span></td>
            <td>23 3/4"</td>
            <td>24"</td>
            <td>24 1/4"</td>
            <td>24 1/2"</td>
            <td>24 3/4"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>19 9/10"</td>
            <td>20"</td>
            <td>20 1/10"</td>
            <td>20 3/10"</td>
            <td>20 4/10"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>22 1/4"</td>
              <td>22 1/2"</td>
              <td>22 3/4"</td>
              <td>23"</td>
              <td>23 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>18 9/10"</td>
              <td>19"</td>
              <td>19 1/10"</td>
              <td>19 3/10"</td>
              <td>19 4/10"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>25 1/4"</td>
              <td>25 1/2"</td>
              <td>25 3/4"</td>
              <td>26"</td>
              <td>26 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>20 9/10"</td>
              <td>21"</td>
              <td>21 1/10"</td>
              <td>21 3/10"</td>
              <td>21 4/10"</td>
            </tr>
      </tbody>
      </table>
    {% when 'emma-jacket' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Jacket Length</span></td>
            <td>23 3/4"</td>
            <td>24"</td>
            <td>24 1/4"</td>
            <td>24 1/2"</td>
            <td>24 3/4"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>19 9/10"</td>
            <td>20"</td>
            <td>20 1/10"</td>
            <td>20 3/10"</td>
            <td>20 4/10"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>22 1/4"</td>
              <td>22 1/2"</td>
              <td>22 3/4"</td>
              <td>23"</td>
              <td>23 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>18 9/10"</td>
              <td>19"</td>
              <td>19 1/10"</td>
              <td>19 3/10"</td>
              <td>19 4/10"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>25 1/4"</td>
              <td>25 1/2"</td>
              <td>25 3/4"</td>
              <td>26"</td>
              <td>26 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>20 9/10"</td>
              <td>21"</td>
              <td>21 1/10"</td>
              <td>21 3/10"</td>
              <td>21 4/10"</td>
            </tr>
      </tbody>
      </table>
    {% when 'chelsea-blazer-herringbone' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Jacket Length</span></td>
            <td>25"</td>
            <td>25 1/4"</td>
            <td>25 1/2"</td>
            <td>25 3/4"</td>
            <td>26"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>23 8/10"</td>
            <td>24"</td>
            <td>24 3/10"</td>
            <td>24 5/10"</td>
            <td>24 8/10"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>23 1/2"</td>
              <td>23 3/4"</td>
              <td>24"</td>
              <td>24 1/4"</td>
              <td>24 1/2"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>22 3/10"</td>
              <td>22 5/10"</td>
              <td>22 8/10"</td>
              <td>23"</td>
              <td>23 3/10"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>26 1/2"</td>
              <td>26 3/4"</td>
              <td>27"</td>
              <td>27 1/4"</td>
              <td>27 1/2"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>25 8/10"</td>
              <td>26"</td>
              <td>26 3/10"</td>
              <td>26 5/10"</td>
              <td>26 8/10"</td>
            </tr>
      </tbody>
      </table>
    {% when 'kennedy-blouse-peplum' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Blouse Length</span></td>
            <td>23 1/4"</td>
            <td>23 1/2"</td>
            <td>23 1/4"</td>
            <td>24"</td>
            <td>24 1/4"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>12 5/10"</td>
            <td>12 8/10"</td>
            <td>13"</td>
            <td>13 3/10"</td>
            <td>13 5/10"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Blouse Length</span></td>
              <td>22 3/4"</td>
              <td>23"</td>
              <td>23 1/4"</td>
              <td>23 1/2"</td>
              <td>23 3/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>12 3/10"</td>
              <td>12 5/10"</td>
              <td>12 8/10"</td>
              <td>13"</td>
              <td>13 3/10"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Blouse Length</span></td>
              <td>24 1/4"</td>
              <td>24 1/2"</td>
              <td>24 3/4"</td>
              <td>25"</td>
              <td>25 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>13"</td>
              <td>13 3/10"</td>
              <td>13 5/10"</td>
              <td>13 8/10"</td>
              <td>14"</td>
            </tr>
      </tbody>
      </table>
    {% when 'chloe-shirt'%}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Blouse Length</span></td>
            <td>25 3/4"</td>
            <td>26"</td>
            <td>26 1/4"</td>
            <td>26 1/2"</td>
            <td>26 3/4"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>23 8/10"</td>
            <td>24"</td>
            <td>24 3/10"</td>
            <td>24 5/10"</td>
            <td>24 8/10"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Blouse Length</span></td>
              <td>24 1/4"</td>
              <td>24 1/2"</td>
              <td>24 3/4"</td>
              <td>25"</td>
              <td>25 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>22 3/10"</td>
              <td>22 5/10"</td>
              <td>22 8/10"</td>
              <td>23"</td>
              <td>23 3/10"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Blouse Length</span></td>
              <td>27 1/4"</td>
              <td>27 1/2"</td>
              <td>27 3/4"</td>
              <td>28"</td>
              <td>28 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>25 8/10"</td>
              <td>26"</td>
              <td>26 3/10"</td>
              <td>26 5/10"</td>
              <td>26 8/10"</td>
            </tr>
      </tbody>
      </table>
    {% when 'fiona-blouse' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Blouse Length</span></td>
            <td>25 3/4"</td>
            <td>26"</td>
            <td>26 1/4"</td>
            <td>26 1/2"</td>
            <td>26 3/4"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>18 1/4"</td>
            <td>18 1/2"</td>
            <td>18 3/4"</td>
            <td>19"</td>
            <td>19 1/4"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Blouse Length</span></td>
              <td>24 1/4"</td>
              <td>24 1/2"</td>
              <td>24 3/4"</td>
              <td>25"</td>
              <td>25 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>18 1/4"</td>
              <td>18 1/2"</td>
              <td>18 3/4"</td>
              <td>19"</td>
              <td>19 1/4"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Blouse Length</span></td>
              <td>27 1/4"</td>
              <td>27 1/2"</td>
              <td>27 3/4"</td>
              <td>28"</td>
              <td>28 1/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>18 1/2"</td>
              <td>18 3/4"</td>
              <td>19"</td>
              <td>19 1/4"</td>
              <td>19 1/2"</td>
            </tr>
      </tbody>
      </table>
    {% when 'elliott-pencil-skirt' %}
      <table>
        <tbody>
          <tr>
            <td><span>Length</span></td>
            <td></td>
          </tr>
          <tr>
            <td><span>Petite</span></td>
            <td>19"</td>
          </tr>
          <tr>
            <td><span>Regular</span></td>
            <td>21"</td>
          </tr>
          <tr>
            <td><span>Tall</span></td>
            <td>23"</td>
          </tr>
        </tbody>
      </table>
    {% when 'elliott-sheath-black' %}
     <table>
       <tbody>
         <tr>
           <td><span>Regular</span></td>
           <td><span>32</span></td>
           <td><span>34</span></td>
           <td><span>36</span></td>
           <td><span>38</span></td>
           <td><span>40</span></td>
         </tr>
         <tr>
            <td><span>Dress Length</span></td>
            <td>37 1/2"</td>
            <td>38"</td>
            <td>38 1/2"</td>
            <td>39"</td>
            <td>39 1/2"</td>
          </tr>
       </tbody>
       </table>
       <table>
         <tbody>
           <tr>
             <td><span>Petite</span></td>
             <td><span>32</span></td>
             <td><span>34</span></td>
             <td><span>36</span></td>
             <td><span>38</span></td>
             <td><span>40</span></td>
           </tr>
           <tr>
             <td><span>Dress Length</span></td>
             <td>35 1/2"</td>
             <td>36"</td>
             <td>36 1/2"</td>
             <td>37"</td>
             <td>37 1/2"</td>
           </tr>
         </tbody>
       </table>
       <table>
         <tbody>
           <tr>
             <td><span>Tall</span></td>
             <td><span>32</span></td>
             <td><span>34</span></td>
             <td><span>36</span></td>
             <td><span>38</span></td>
             <td><span>40</span></td>
           </tr>
           <tr>
             <td><span>Dress Length</span></td>
             <td>40 1/4"</td>
             <td>40 3/4"</td>
             <td>41 1/4"</td>
             <td>41 3/4"</td>
             <td>42 1/4"</td>
           </tr>
         </tbody>
     </table>
     <ul>
       <li class="hem-details">Dress has 1 1/2" hem that can be let out in tailoring</li>
     </ul>
    {% when 'elliott-blazer-black' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Jacket Length</span></td>
            <td>24 1/4"</td>
            <td>24 1/2"</td>
            <td>24 13/4"</td>
            <td>25"</td>
            <td>25 1/4"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>23 8/10"</td>
            <td>24"</td>
            <td>24 3/10"</td>
            <td>24 5/10"</td>
            <td>24 8/10"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>22 3/4"</td>
              <td>23"</td>
              <td>23 1/4"</td>
              <td>23 1/2"</td>
              <td>23 3/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>22 3/10"</td>
              <td>22 5/10"</td>
              <td>22 8/10"</td>
              <td>23"</td>
              <td>23 3/10"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>25 3/4"</td>
              <td>26"</td>
              <td>26 1/4"</td>
              <td>26 1/2"</td>
              <td>26 3/4"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>25 8/10"</td>
              <td>26"</td>
              <td>26 3/10"</td>
              <td>26 5/10"</td>
              <td>26 8/10"</td>
            </tr>
          </tbody>
      </table>
      <ul>
         <li class="hem-details">Dress has 1" hem that can be let out in tailoring</li>
       </ul>
    {% when 'elliott-trouser-black' %}
      <table>
        <tbody>
          <tr>
            <td><span>Inseam</span></td>
            <td></td>
          </tr>
          <tr>
            <td><span>Short</span></td>
            <td>28"</td>
          </tr>
          <tr>
            <td><span>Regular</span></td>
            <td>30"</td>
          </tr>
          <tr>
            <td><span>Long</span></td>
            <td>33"</td>
          </tr>
          <tr>
            <td><span>Extra Long</span></td>
            <td>36"</td>
          </tr>
          <tr>
            <td><span>Unhemmed</span></td>
            <td>37 1/2"</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li class="hem-details">Pant has 1 1/2" hem that can be let out in tailoring</li>
      </ul>
    {% when 'elliott-pant-black' %}
      <table>
        <tbody>
          <tr>
            <td><span>Inseam</span></td>
            <td></td>
          </tr>
          <tr>
            <td><span>Short</span></td>
            <td>25"</td>
          </tr>
          <tr>
            <td><span>Regular</span></td>
            <td>28"</td>
          </tr>
          <tr>
            <td><span>Long</span></td>
            <td>30"</td>
          </tr>
          <tr>
            <td><span>Unhemmed</span></td>
            <td>31.5"</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li class="hem-details">Pant has 1 1/2" hem that can be let out in tailoring</li>
      </ul>
    {% when 'elliott-sheath-skirt' %}
      <table>
        <tbody>
          <tr>
            <td><span>Length</span></td>
            <td></td>
          </tr>
          <tr>
            <td><span>Petite</span></td>
            <td>24"</td>
          </tr>
          <tr>
            <td><span>Regular</span></td>
            <td>26"</td>
          </tr>
          <tr>
            <td><span>Tall</span></td>
            <td>28"</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li class="hem-details">Skirt has 1 1/2" hem that can be let out in tailoring</li>
      </ul>
    {% when 'riley-sheath-navy' %}
      <table>
         <tbody>
           <tr>
             <td><span>Regular</span></td>
             <td><span>32</span></td>
             <td><span>34</span></td>
             <td><span>36</span></td>
             <td><span>38</span></td>
             <td><span>40</span></td>
           </tr>
           <tr>
              <td><span>Dress Length</span></td>
              <td>37 1/2"</td>
              <td>38"</td>
              <td>38 1/2"</td>
              <td>39"</td>
              <td>39 1/2"</td>
            </tr>
         </tbody>
         </table>
         <table>
           <tbody>
             <tr>
               <td><span>Petite</span></td>
               <td><span>32</span></td>
               <td><span>34</span></td>
               <td><span>36</span></td>
               <td><span>38</span></td>
               <td><span>40</span></td>
             </tr>
             <tr>
               <td><span>Dress Length</span></td>
               <td>35 1/2"</td>
               <td>36"</td>
               <td>36 1/2"</td>
               <td>37"</td>
               <td>37 1/2"</td>
             </tr>
       </tbody>
         </table>
         <table>
           <tbody>
             <tr>
               <td><span>Tall</span></td>
               <td><span>32</span></td>
               <td><span>34</span></td>
               <td><span>36</span></td>
               <td><span>38</span></td>
               <td><span>40</span></td>
             </tr>
             <tr>
               <td><span>Dress Length</span></td>
               <td>40 1/4"</td>
               <td>40 3/4"</td>
               <td>41 1/4"</td>
               <td>41 3/4"</td>
               <td>42 1/4"</td>
             </tr>
           </tbody>
       </table>
       <ul>
        <li class="hem-details">Dress has 1 1/2" hem that can be let out in tailoring</li>
       </ul>
    {% when 'riley-blazer-cobalt' %}
      <table>
        <tbody>
          <tr>
            <td><span>Regular</span></td>
            <td><span>32</span></td>
            <td><span>34</span></td>
            <td><span>36</span></td>
            <td><span>38</span></td>
            <td><span>40</span></td>
          </tr>
          <tr>
            <td><span>Jacket Length</span></td>
            <td>25"</td>
            <td>25 1/4"</td>
            <td>25 1/2"</td>
            <td>25 3/4"</td>
            <td>26"</td>
          </tr>
          <tr>
            <td><span>Sleeve Length</span></td>
            <td>23 8/10"</td>
            <td>24"</td>
            <td>24 3/10"</td>
            <td>24 5/10"</td>
            <td>24 8/10"</td>
          </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Petite</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>23 1/2"</td>
              <td>23 3/4"</td>
              <td>24"</td>
              <td>24 1/4"</td>
              <td>24 1/2"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>22 3/10"</td>
              <td>22 5/10"</td>
              <td>22 8/10"</td>
              <td>23"</td>
              <td>23 3/10"</td>
            </tr>
      </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><span>Tall</span></td>
              <td><span>32</span></td>
              <td><span>34</span></td>
              <td><span>36</span></td>
              <td><span>38</span></td>
              <td><span>40</span></td>
            </tr>
            <tr>
              <td><span>Jacket Length</span></td>
              <td>26 1/2"</td>
              <td>26 3/4"</td>
              <td>27"</td>
              <td>27 1/4"</td>
              <td>27 1/2"</td>
            </tr>
            <tr>
              <td><span>Sleeve Length</span></td>
              <td>25 8/10"</td>
              <td>26"</td>
              <td>26 3/10"</td>
              <td>26 5/10"</td>
              <td>26 8/10"</td>
            </tr>
      </tbody>
      </table>
    {% when 'riley-pant-cobalt' %}
      <table>
        <tbody>
          <tr>
            <td><span>Inseam</span></td>
            <td></td>
          </tr>
          <tr>
            <td><span>Short</span></td>
            <td>25"</td>
          </tr>
          <tr>
            <td><span>Regular</span></td>
            <td>28"</td>
          </tr>
          <tr>
            <td><span>Long</span></td>
            <td>30"</td>
          </tr>
          <tr>
            <td><span>Unhemmed</span></td>
            <td>31.5"</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li class="hem-details">Pant has 1 1/2" hem that can be let out in tailoring</li>
      </ul>
    {% when 'riley-skirt-cobalt' %}
      <table>
        <tbody>
          <tr>
            <td><span>Length</span></td>
            <td></td>
          </tr>
          <tr>
            <td><span>Petite</span></td>
            <td>19"</td>
          </tr>
          <tr>
            <td><span>Regular</span></td>
            <td>21"</td>
          </tr>
          <tr>
            <td><span>Tall</span></td>
            <td>23"</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li class="hem-details">Skirt has 1 1/2" hem that can be let out in tailoring</li>
      </ul>
{% endcase %}