<h5>Chelsea jacket item measurements</h5>
<p>The Chelsea jacket has about 1” room to let out in sleeve length.</p>
<table>
  <tbody>
    <tr>
      <td>
        <span>Regular</span>
      </td>
      <td>
        <span>32</span>
      </td>
      <td>
        <span>34</span>
      </td>
      <td>
        <span>36</span>
      </td>
      <td>
        <span>38</span>
      </td>
      <td>
        <span>40</span>
      </td>
    </tr>
    <tr>
      <td><span>Jacket Length</span></td>
      <td>24 3/4"</td>
      <td>25"</td>
      <td>25 1/4"</td>
      <td>25 1/2"</td>
      <td>25 3/4"</td>
    </tr>
    <tr>
      <td><span>Sleeve Length</span></td>
      <td>23 5/8"</td>
      <td>23 3/4"</td>
      <td>23 7/8"</td>
      <td>24"</td>
      <td>24 1/8"</td>
    </tr>
</tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>
          <span>Petite</span>
        </td>
        <td>
          <span>32</span>
        </td>
        <td>
          <span>34</span>
        </td>
        <td>
          <span>36</span>
        </td>
        <td>
          <span>38</span>
        </td>
        <td>
          <span>40</span>
        </td>
      </tr>
      <tr>
        <td><span>Jacket Length</span></td>
        <td>23 1/4"</td>
        <td>23 1/2"</td>
        <td>23 3/4"</td>
        <td>24"</td>
        <td>24 1/4"</td>
      </tr>
      <tr>
        <td><span>Sleeve Length</span></td>
        <td>22 5/8"</td>
        <td>22 3/4"</td>
        <td>22 7/8"</td>
        <td>23"</td>
        <td>23 1/8"</td>
      </tr>
</tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>
          <span>Tall</span>
        </td>
        <td>
          <span>32</span>
        </td>
        <td>
          <span>34</span>
        </td>
        <td>
          <span>36</span>
        </td>
        <td>
          <span>38</span>
        </td>
        <td>
          <span>40</span>
        </td>
      </tr>
      <tr>
        <td><span>Jacket Length</span></td>
        <td>26 1/4"</td>
        <td>26 1/2"</td>
        <td>26 3/4"</td>
        <td>27"</td>
        <td>27 1/4"</td>
      </tr>
      <tr>
        <td><span>Sleeve Length</span></td>
        <td>24 5/8"</td>
        <td>24 3/4"</td>
        <td>24 7/8"</td>
        <td>25"</td>
        <td>25 1/8"</td>
      </tr>
</tbody>
</table>

