<p>Will ship on
{% case handle %}
  {% when 'ansley-dress-berry' %}  
    9/14
  {% when 'jane-jacket' %}
    9/12
  {% when 'emma-jacket' %}
    9/12
  {% when 'chelsea-blazer-herringbone' %}
    9/12
  {% when 'kennedy-blouse-peplum' %}
    9/12
  {% when 'chloe-shirt'%}
    9/12
  {% when 'fiona-blouse' %}
    9/14
  {% when 'elliott-pencil-skirt' %}
    9/12
  {% when 'elliott-sheath-black' %}
    9/14
  {% when 'elliott-blazer-black' %}
    9/12
  {% when 'elliott-trouser-black' %}    
    9/12
  {% when 'elliott-pant-black' %}   
    9/12
  {% when 'elliott-sheath-skirt' %}    
    9/12
  {% when 'riley-sheath-navy' %}
    9/14
  {% when 'riley-blazer-cobalt' %}   
   9/12
  {% when 'riley-pant-cobalt' %}
    9/12
  {% when 'riley-skirt-cobalt' %}  
    9/12
{% endcase %}
</p>