<p class="order-delays">
{% case handle %}
  {% when 'ansley-dress-berry' %}  

  {% when 'jane-jacket' %}

  {% when 'emma-jacket' %}

  {% when 'chelsea-blazer-herringbone' %}
    
  {% when 'kennedy-blouse-peplum' %}

  {% when 'chloe-shirt'%}

  {% when 'fiona-blouse' %}

  {% when 'elliott-pencil-skirt' %}
    Ships within one week.
  {% when 'elliott-sheath-black' %}
    
  {% when 'elliott-blazer-black' %}

  {% when 'elliott-trouser-black' %}    
    Ships within one week.
  {% when 'elliott-pant-black' %}   
    Ships within one week.
  {% when 'elliott-sheath-skirt' %}    
    Ships within one week.
  {% when 'riley-sheath-navy' %}
    
  {% when 'riley-blazer-cobalt' %}   

  {% when 'riley-pant-cobalt' %}
    Ships within one week.
  {% when 'riley-skirt-cobalt' %}  
    Ships within one week.
{% endcase %}
</p>
<p class="out-of-stock">
{% case handle %}
  {% when 'ansley-dress-berry' %}  
    Will ship in 2-3 weeks
  {% when 'jane-jacket' %}
    Will ship in 4-5 weeks
  {% when 'emma-jacket' %}
    Will ship in 2-3 weeks
  {% when 'chelsea-blazer-herringbone' %}
    Will ship in 2-3 weeks
  {% when 'kennedy-blouse-peplum' %}
    Will ship in 2-3 weeks
  {% when 'chloe-shirt'%}
    Will ship in 2-3 weeks
  {% when 'fiona-blouse' %}
    Will ship in 2-3 weeks
  {% when 'elliott-pencil-skirt' %}
    Will ship in 2-3 weeks
  {% when 'elliott-sheath-black' %}
    Will ship in 2-3 weeks
  {% when 'elliott-blazer-black' %}
    Will ship in 2-3 weeks
  {% when 'elliott-trouser-black' %}    
    Will ship in 2-3 weeks
  {% when 'elliott-pant-black' %}   
    Will ship in 2-3 weeks
  {% when 'elliott-sheath-skirt' %}    
    Will ship in 2-3 weeks
  {% when 'riley-sheath-navy' %}
    Will ship in 2-3 weeks
  {% when 'riley-blazer-cobalt' %}   
    Will ship in 2-3 weeks
  {% when 'riley-pant-cobalt' %}
    Will ship in 2-3 weeks
  {% when 'riley-skirt-cobalt' %}  
    Will ship in 2-3 weeks
{% endcase %}
</p>