<p>Will ship on
{% case handle %}
  {% when 'ansley-dress-berry' %}  
    09.14
  {% when 'jane-jacket' %}
    09.18
  {% when 'emma-jacket' %}
    09.18
  {% when 'chelsea-blazer-herringbone' %}
    
  {% when 'kennedy-blouse-peplum' %}
    09.18
  {% when 'chloe-shirt'%}
    09.18
  {% when 'fiona-blouse' %}
    09.18
  {% when 'elliott-pencil-skirt' %}
    
  {% when 'elliott-sheath-black' %}
    
  {% when 'elliott-blazer-black' %}
    09.14
  {% when 'elliott-trouser-black' %}    
    
  {% when 'elliott-pant-black' %}   
    
  {% when 'elliott-sheath-skirt' %}    
    
  {% when 'riley-sheath-navy' %}
    
  {% when 'riley-blazer-cobalt' %}   
    09.21
  {% when 'riley-pant-cobalt' %}
    
  {% when 'riley-skirt-cobalt' %}  
    
{% endcase %}
</p>
<p>
{% case handle %}
  {% when 'ansley-dress-berry' %}  
    Will ship in 2-3 weeks
  {% when 'jane-jacket' %}
    Will ship in 4-5 weeks
  {% when 'emma-jacket' %}
    Will ship in 2-3 weeks
  {% when 'chelsea-blazer-herringbone' %}
    Will ship in 2-3 weeks
  {% when 'kennedy-blouse-peplum' %}
    Will ship in 2-3 weeks
  {% when 'chloe-shirt'%}
    Will ship in 2-3 weeks
  {% when 'fiona-blouse' %}
    Will ship in 2-3 weeks
  {% when 'elliott-pencil-skirt' %}
    Ships within one week.
  {% when 'elliott-sheath-black' %}
    Will ship in 2-3 weeks
  {% when 'elliott-blazer-black' %}
    Will ship in 2-3 weeks
  {% when 'elliott-trouser-black' %}    
    Ships within one week.
  {% when 'elliott-pant-black' %}   
    Ships within one week.
  {% when 'elliott-sheath-skirt' %}    
    Ships within one week.
  {% when 'riley-sheath-navy' %}
    Will ship in 2-3 weeks
  {% when 'riley-blazer-cobalt' %}   
    Will ship in 2-3 weeks
  {% when 'riley-pant-cobalt' %}
    Ships within one week.
  {% when 'riley-skirt-cobalt' %}  
    Ships within one week.
{% endcase %}
</p>