<p>Will ship in
{% case handle %}
  {% when 'ansley-dress-berry' %}  
    2 weeks
  {% when 'jane-jacket' %}
    2 weeks
  {% when 'emma-jacket' %}
    2 weeks
  {% when 'chelsea-blazer-herringbone' %}
    2 weeks
  {% when 'kennedy-blouse-peplum' %}
    2 weeks
  {% when 'chloe-shirt'%}
  
  {% when 'fiona-blouse' %}
  
  {% when 'elliott-pencil-skirt' %}
  
  {% when 'elliott-sheath-black' %}
  {% when 'elliott-blazer-black' %}
  {% when 'elliott-trouser-black' %}    
  {% when 'elliott-pant-black' %}   
  {% when 'elliott-sheath-skirt' %}    

  {% when 'riley-sheath-navy' %}
  {% when 'riley-blazer-cobalt' %}    
  {% when 'riley-pant-cobalt' %}
  {% when 'riley-skirt-cobalt' %}    
{% endcase %}
</p>