<section class="modal js-modal-container js-cart-details">
  <div class="modal-div">
    <h2 class="serif plum ss-details-modal-title">Second Size Details</h3>
    <ul>
      <li class="em-top">Receive a Second Size to try on at home</li>
      <li class="em-top">Return the size that doesn't fit within 14 days to avoid being charged for both items</li>
      <li class="em-top em-bottom">Like all Quincy items, your Second Size has free shipping and free returns</li>
    </ul>
    <button class="bg-blue no-margin em-top float-r js-modal-close" >CLOSE</button>
  </div>
</section>