{% if  page.handle == 'terms-and-conditions' %}
 <div class="terms">
   <h3>Description of Service</h3>
   <p>Quincy is an online retailer of designer-quality goods offered at great values to the consumer. Membership allows customers to purchase a variety of products, from accessories to essentials, exclusively offered to our members monthly.</p>

   <h3>Usage Restrictions</h3>
   <p>All of the content that appears on the Quincy web site, including all visuals, text, audio and video clips are subject to copyright protections and /or other intellectual property rights or licenses held by Quincy. The entire content of the Quincy web site is copyrighted as a collective work under U.S. copyright laws. Quincy grants you a limited license to access and make personal use of the content on this website. Content of the Quincy website is intended solely for the personal, noncommercial use by the users of our Site.</p>

   <h3>Membership Eligibility</h3>
   <p>Membership for Quincy.com is free. However, our membership services are not available to users under the age of 18 or to members who, at our discretion, have been suspended or removed from the Quincy systems. Members agree to all terms of service and must only apply for membership if eligible.</p>

   <h3>Notice</h3>
   <p>Quincy may contact you or provide you with service-related and/ or promotional notices by means of postal mail, electronic mail, general site notifications and more using the contact information you have provided to us.</p>

   <h3>Pricing Policy</h3>
   <p>At Quincy, we are committed to providing our customers with great quality products. Our products are sold online only at limited quantities and availabilities. We have done our best to display our items as accurately as possible on the Site. Please be aware, variations in style, color, size, shape and look may occur. If you are not satisfied your purchase, please review our <a href="/pages/shipping-and-returns">Returns & Exchanges</a> section for further assistance.</p>

   <h3>Site Use</h3>
   <p>You cannot access or use the Quincy website for any illegal or unauthorized purpose. Harassment in any manner or form of the Site, including via e-mail and chat or by obscene or abusive language, is strictly forbidden. Although Quincy cannot monitor the conduct of its users, it is a strict violation of these Terms to use any information obtained from our Site in order to harass, abuse or harm another person, or in order to contact, advertise, solicit or sell to any user without his/her prior explicit consent.</p>

   <p>Also, you agree that no comments or other user submissions submitted by you to the Quincy website will violate any right of any third party, including copyright, trademark, privacy or other personal rights. You further agree that no comments submitted by you to the Site will be or contain libelous or otherwise unlawful, abusive or obscene material. You are and shall remain solely responsible for the content of any comments you make.</p>

   <h3>User Submissions</h3>
   <p>Quincy strives to create an interactive relationship with the members of its Site and services. User comments, feedback, suggestions, ideas, and other submissions disclosed, submitted or offered to Quincy on or by this Site shall be and remain Quincy property. Users assign all property rights and interests to Quincy allowing our company unlimited use, commercial or otherwise, of any comments. Furthermore, Quincy shall be under no obligation (1) to maintain any comments in confidence; (2) to pay to users any compensation for any comments; or (3) to respond to any user comments.</p>

   <h3>Correction of Site Errors</h3>
   <p>The information on the Quincy website may contain typographical errors or inaccuracies. We reserve the right to update any information we see fit at any time without prior notice. Please note that such errors may relate to product information, pricing and availability. In these instances, we shall have the right to terminate any orders involving pricing errors or inaccuracies. We apologize for any inconveniences.</p>

   <h3>Indemnity</h3>
   <p>By use of this Site, you agree to indemnify and hold Quincy (and its officers, directors, agents, subsidiaries, joint ventures, and employees) harmless from any claim or demand, as well as losses, expenses, damages and costs, resulting from any violation of these terms of service or any activity related to your account (including negligent or wrongful conduct).</p>

   <h3>Modification/Termination of Website</h3>
   <p>In the event of termination, you will still be bound by your obligations under these terms of service, including the warranties made by you, and by the disclaimers and limitations of liability. Quincy shall not be liable to you or any third-party for any termination of your access.</p>

   <h3>Third Party Links</h3>
   <p>To improve our Site, Quincy may use and promote services provided by outside third parties. However, even if the third party is affiliated with Quincy, we do not control these services and make no representations regarding these persons or entities. We are not liable or responsible for the accuracy, completeness, timeliness, reliability or availability of, any such parties. Outside sites linked on our Site, all of which have separate privacy and data collection practices, are only for your convenience and therefore you access them at your own risk.</p>

   <p>WE ARE NOT RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE OF ANY SORT INCURRED AS A RESULT OF ANY DEALINGS WITH ANY THIRD PARTY WEBSITE OR MERCHANT OR OPERATOR OF SUCH A THIRD PARTY WEBSITE.</p>

   <h3>DISCLAIMER OF WARRANTY</h3>
   <p>ALL CONTENT, PRODUCTS, AND SERVICES ON THE SITE, OR OBTAINED FROM A WEBSITE TO WHICH THE SITE IS LINKED (A "LINKED SITE") ARE PROVIDED TO YOU "AS IS" WITHOUT ANY GUARANTEES OR WARRANTY. IN CONNECTION WITH ALL CONTENT, PRODUCTS AND SERVICES ON THIS SITE, QUINCY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, SECURITY OR ACCURACY. USE OF THE PRODUCT BY A USER IS AT THE USER’S RISK.</p>

   <h3>LIMITATION OF LIABILITY</h3>
   <p>QUINCY SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE MATERIALS AND SERVICES ON THIS SITE OR THE PERFORMANCE OF ANY ITS PRODUCTS (EVEN IF QUINCY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES).</p>
 </div>
{% endif %}
