<div>
  <ul>
    <li>Ray Ban sunglasses</li>
    <li>Vintage pendant necklace</li>
    <li>Kennedy blouse</li>
    <li>Theory pants</li>
  </ul>  <!-- DYNAMIC INFO DEPENDING ON IMAGE IN SLIDE SHOW -->
  <a href="/collections/whatever" title="Whatever Collection">Shop the Look ></a>
</div>
<div>
  <ul>
    <li>Second list</li>
    <li>Vintage pendant necklace</li>
    <li>Kennedy blouse</li>
    <li>Theory pants</li>
  </ul>  <!-- DYNAMIC INFO DEPENDING ON IMAGE IN SLIDE SHOW -->
  <a href="/collections/whatever" title="Whatever Collection">Shop the Look ></a>
</div>
<div>
  <ul>
    <li>Third list</li>
    <li>Vintage pendant necklace</li>
    <li>Kennedy blouse</li>
    <li>Theory pants</li>
  </ul>  <!-- DYNAMIC INFO DEPENDING ON IMAGE IN SLIDE SHOW -->
  <a href="/collections/whatever" title="Whatever Collection">Shop the Look ></a>
</div>
<div>
  <ul>
    <li>Fourth list</li>
    <li>Vintage pendant necklace</li>
    <li>Kennedy blouse</li>
    <li>Theory pants</li>
  </ul>  <!-- DYNAMIC INFO DEPENDING ON IMAGE IN SLIDE SHOW -->
  <a href="/collections/whatever" title="Whatever Collection">Shop the Look ></a>
</div>