@charset "utf-8";
/* 
* fitquiz.css
* ---------------
* CSS Document */


#fqt {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 20px;
    padding: 8px 15px 0px;
    color:#031d48;
    width: 950px;
}
#fqt span{
	letter-spacing:0.4pt;
}
#fqt .fqt-0{
	width: 400px;
    text-transform: uppercase;
}
#fqt .fqt-1{
	width:125px;
	margin-left: 17px;
}
#fqt .fqt-2{
    width: 408px;
	text-align: right;
	}
#fqt .fqt-2 a{
	font-size: 8pt !important;
    font-style: normal !important;
    text-transform: uppercase;
	font-style:normal !important;
}
.fq-visual-steps {
	background: url("fq_bullets.png") no-repeat scroll 0 -11px transparent;
    height: 11px;
    margin-right: 6px;
    width: 11px;
}
.fq-visual-active{
	background-position: 0px 0px !important;	
}
#fq-0{
    margin-top: 45px;
    height: 402px;
}
#fit-quiz-top h6 {
	color: #D3018D;
    font-size: 9pt;
    letter-spacing: 0.2pt;
	margin-bottom:10px;
}
#fit-quiz-top p{
	letter-spacing:0.4pt;	
	line-height:1.6em;
}
div.button {
  text-align: center;
  margin-left: 24px;
}
#fit-quiz-top button {
  height: 30px;
  margin: 5px 2px 0 0px;
  width: 73px;
}
#fit-quiz-top button.get-started{
	height: 29px;
  margin: 12px 20px 0 1px;
  width: 127px;
}
#fit-quiz-0 .fq-col-13 img{
	margin-left:36px;
}
.fq-col-13{
    width:365px;
}
.fq-col-23{
	width:390px;
}
.fq-col-33{
	width:195px;text-align:right;
}
.fleft{
	float:left;	
}
.fright{
	float:right;
}
.clearfix{
	clear:both;
	float:none;
	display:inline-block;
}
div.select-box{
	left:0px;
	position:relative;	
}
#fq-1 {
  height: 365px;
}
#fq-1 .fq-1{
	margin: 16px 20px 20px 30px;
  width: 400px;
  height: 250px;
}
#fq-1 select {
  visibility: hidden;
  position: absolute;
}
#fq-1 #top-dresses {
  width: 290px;
}
#fq-1 a.field{
	margin:0 17px 17px 3px;
	width: 68px;	
}
#fq-1 ul.selector{
  margin-left: 3px;
  width: 68px;
}
#fq-1 ul.selector li{
	height: 15px;
	width:68px;
}
#fq-1 .measurements {
	margin: 0 0 12px 201px;	
}
#fq-col-14{
	width: 275px;	
}
#fq-col-34{
	
}
#top-dresses a.field{
	margin: 3px 0;
    width: 110px;
}
#top-dresses ul.selector{
    margin-left: 0;
    width: 110px;
}
#top-dresses .select-box{
	margin-bottom: 25px;
}
#fq-col-44{	
	width: 200px;
}
.fq-check{
	border: 1px solid #CCCCCC;
  height: 10px;
  margin-left: 3px;
  margin-right: 6px;
  width: 10px;
  position: relative;
  top: 2px;
}
#fq-col-13{
	width:300px;
}
#fq-2 label,#fq-3 label, #fq-4 label{
	font-size: 8pt;
  letter-spacing: 0;
}
#fq-2 {
  height: 411px;
}
#fq-2 p {
  margin: 34px 0 0 211px;
}
div.body-type-container { 
  margin-left: 217px;
  height: 321px;
  width: 700px;
}
div.body-type {
  display: inline-block;
  text-align: center;
  height: 200px;
  width: 163px;
  margin-top: 27px;
}
div.body-type img.body {
  height: 212px;
}
img.slim {
  width: 85px;
}
img.round {
  width: 87px;
  margin-left: 6px;
}
img.wide {
  width: 153px;
}
div.label {
  margin: 22px 0 0 -9px;
  overflow: hidden;
}
div.label img {
  float: left;
  top: 0;
}
div.label img.last {
  margin-left: 13px;
}
#fq-2 div.label p {
  margin: 0 24px 0 0;
  display: inline-block;
  font-size: 11px;
  width: 141px;
  line-height: 1.3em;
  float: left;
}
#fq-3 {
  
  height: 405px;
  
}
#fq-3 h3, #fq-4 h3 {
  margin: 43px 0 20px 113px;
}
#select-dart, #fq-3 p.description {
  width: 210px;
  font-size: 12px;
}
#fq-3 p.description {
  margin-bottom: 19px;
}
#select-torso {
  margin-top: 46px;
}
#select-dart {
  margin-left: 113px;
}
#fq-3 p {
  display: inline-block;
  float: left;
  width: 180px;
  font-size: 11px;
  line-height: 1.3em;
}
#fq-3 #select-dart label img {
  float: left;
  margin-left: 0;
  top: 1px;
  right: 1px;
}
#fq-3 .sleeve-torso {
  width: 100px;
  display: inline-block;
  margin-left: 54px;
}
#fq-3 img.profile, #fq-3 img.front {
  position: relative;
}
#fq-3 img.profile {
  bottom: 45px;
  left: 46px;
}
#fq-3 img.front {
  bottom: 74px;
  left: 65px;
}
#fq-3 div.button {
  margin-top: -24px;
}
#fq-4 {
  height: 461px;
}
#fq-4 h3 {
  margin-bottom: 12px;
}
#select-pants1 {
  height: 140px;
  margin: 14px 30px 22px 24px;
}
#select-pants3 {
  margin: 31px 30px 4px 27px;
}
#select-pants2 {
  margin: 23px 127px 4px 32px;
}
#select-pants4 {
  margin: 22px 30px 84px 26px;
}
#fq-4 .pants-page {
  width: 780px;
  margin-left: 116px;
}
#fq-4 .pants-page-2 {
  width: 780px;
  margin-left: 123px;
}
#fq-5 h2{
  font-size: 24pt;
	color: #031d48;
  margin: 0 0 40px 40px;
}
#fq-5 img {
  position: relative;
  bottom: 10px;
  z-index: 5;
  margin-left: 40px;
}
#fq-5 div.info {
  width: 250px; 
  margin-left: 20px;
}
#fit-quiz-top #fq-5 button {
  background-color: #031D48;
  width: 70px;
}
h1#top-size, h1#bottom-size {
    color: rgb(211, 1, 141); 
    text-transform: capitalize; 
    font-size: 34px; 
    margin: 10px 0;
    padding: 0 0 15px 22px;
    position: relative;
    right: 23px;
    width: 220px;
    font-weight: 300;
}
#fit-quiz-top{
	display:none;
	font-size: 9pt;
	line-height: 1.5em;
	width:980px;
}
.fq-basic{
	display:none;
	margin-top: 30px;
	padding: 0px 20px;
	height: 500px;
	border-bottom: 1px solid rgb(204, 204, 204);
  width: 940px;
}
#fq-5 {
  padding: 0 20px;
}
#fq-5 div.clearfix {
  width: 940px;
  border-bottom: 1px solid rgb(211, 211, 211);
  margin-bottom: 25px; 
  padding-bottom: 20px;
}
#fit-quiz-top .select-box .notValid,#fit-quiz-top img.notValid{
    border-color: #D3018D !important;
}
#fit-quiz-top img.active{
    background-color:#031D48 !important;
    }
a.fq-goback {
    cursor: pointer;
}
div#fq-0 div {
  margin: 49px 40px 40px;
}
div#fq-0 img {
  margin-left: 80px;
}