@charset "utf-8";
/* CSS Document */
section.inline-cart:hover{
    overflow: visible !important;
}
#second-size{
    margin: 3px 0 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 215px;
}
#second-size #header{
    background-color: #D3018D;
    color: #FFFFFF;
    font-size: 12px;
    height: 18px;
    padding: 5px 20px 4px;
    width: 175px;
    position:absolute;
    z-index:100;
}
.inline-cart #second-size{
    margin:5px 0;
}
.inline-cart #second-size #wrap{
    margin-top:60px;
    text-align: left;
}
#second-size #wrap{
	float: none; clear: both; display: block; padding: 0px 14px;
}
#second-size #wrap .box{
	display: block; float: none; clear: both; position: relative; margin: 0px 0px 5px;
}
#second-size .pselect-box{
	left: 0;
	margin: 0;
	position: relative;
	top: -1px;
}
#second-size .selector-wrapper{
	letter-spacing: 1px;
	margin: 3px 5px 7px 1px;
	width: 50px;
	text-align: left;
}
#second-size .selector-wrapper .sslabel{
	font-size: 10px; margin: 0px 5px 8px 0px; text-transform: uppercase; width: 50px;
}
#second-size .pselect-box a{
	width: 67px; height: 14px;
}
#second-size ul{
	width: 67px;
}
#second-size ul li{
	text-align: left;
    width: 56px;
}
#second-size button{
	font-size: 11px;
    margin: 0;
}
#cart-ss{
    float: left;
    margin: 10px 0 10px 0;
    width: 300px;
    }
#ss-cart-banner{
    font-family: "museo-sans",sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    padding-left: 350px;
    padding-top: 30px;
    }
#ss-cart-details-lnk{
    color:#D3018D;
    font-style:normal;
}
#cart-ss .product{
   /* background:url(https://static.shopify.com/s/files/1/0172/5556/t/3/assets/Cart_mock1.png?556) top left no-repeat transparent;*/
    }
.ss-add-wrap{
    width: 60px;
}
.inline-cart #second-size #no-thanks{
    margin: 24px 0px 0px; position: absolute; width: 100%;
}
.ss-nothanks-lnk{
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0;
    margin-left: 6px;
    margin-top: 8px;
    position: relative;
    text-align: right;
    cursor: pointer;
    }
.inline-cart .ss-nothanks-lnk{
    text-decoration: underline;
    text-transform: capitalize;
}
.ss-cancel-lnk {
  cursor: pointer;
  font-size: 10px;    
}
.ss-edit-wrap{
    margin-left:10px;
    }
.ss-edit-lnk, .ss-add-lnk {
  font-size: 11px;
  padding: 4px 6px;
}
.ss-add-lnk {
 margin-top: 4px;   
}
.ss-product-details{
    margin: 0 0 0 20px;
    width: 220px;
    float: left;
    line-height: 1.2em;
    }
.ss-product-wrap{
    width:160px;
    }
#second-size .error{
    border: 1px solid #D3018D;
    }
#second-size .item1, #second-size .item2{
    height: 18px;
}
.inline-cart #second-size .item1, .inline-cart #second-size .item2{
    margin: 0px;
}

.inline-cart #second-size .item1 .selector-wrapper, .inline-cart #second-size .item2 .selector-wrapper{
    position: relative; top: -8px;
    }
#cart-ss .edit{
    display:none;
    }
#ss-cart-details{
    display:none;
    background-color: #FFFFFF;
    position: absolute;
    width: 264px;
    z-index: 100;
}
#ss-cart-details h3{
    color: #71315D;
    font-size: 29px;
    font-style: italic;
    letter-spacing: 0;
    text-transform: capitalize;
}
#ss-cart-details hr{
    color:#252525;
    background-color:#252525;
    }


/* style.css overrides */
section.inline-cart div{
    float:none !important;
    }