<section class="page">
  <div class="page">
    <h1 class="heading">Page not found <span class="not_found">404</span></h1>
    <div>
      <p>The page you were looking for isn't here!</p>
      <p>Return to our <a href="/">homepage</a>, or check out our <a href="/collections/all">products</a>!</p>
    </div>
  </div>
</section>
  
