<section class="page">
  <div class="page"> 
    <h1 class="serif no-spacing">Showroom</h1>
    <div class="showroom">
      <h3>QUINCY HEADQUARTERS AND SHOWROOM</h3>
      <p>Where to find us:<br />
      209 W. 38th Street, Suite 1010<br />
      New York City, New York 10018</p>
      <p>Our airy loft space in the heart of Manhattan’s Fashion District doubles as both home office for the Quincy team and showroom for our current collection.</p>
    </div>
    <iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=209+W.+38th+Street,+Suite+1010+New+York+City,+New+York+10018&amp;aq=&amp;sll=46.44186,-93.36129&amp;sspn=12.553647,24.807129&amp;ie=UTF8&amp;hq=&amp;hnear=209+W+38th+St+%231010,+New+York,+10018&amp;t=m&amp;z=14&amp;ll=40.753964,-73.989276&amp;output=embed"></iframe>
    <h4 class="right blue serif">Come enjoy a glass of champagne or cup of espresso while you try on our collection; get to know the growing Quincy family.</h4>
    <div>
      <p>Try on our collection amidst the day-to-day buzz of excitement that is Quincy. Meet the co-founders Alex and Christina, talk with the team, and see what it's all about.</p>
      <p>There’s no better way to find your Quincy size! Drop-in hours are:</p>   
      <ul class="em-bottom">
        <li>Mon 9 am - 9 pm</li>
        <li>Tue-Thu 9 am - 7 pm</li>
        <li>Fri 9 am - 6 pm</li>
        <li>Sat 1 pm - 4 pm</li>
      </ul>
      <p>If you’d like to make an appointment outside of these hours, email us at <a href="mailto:info@quincyapparel.com?subject=showroom%20appointment" target="_blank">info@quincyapparel.com</a>.</p>
    </div>
  </div>
</section>