<section class="page"> 
  <div class="size-chart size-page">
    <h1>Size Charts</h1>
    <p>Quincy top sizes take into account the three most important body dimensions for fit: <span>bust</span>, <span>cup size</span>, and <span>length</span>. Our pants and skirts are sized by <span>waist</span> and <span>length</span>.</p>
    <div class="dresses size-chart">
      <section>
        <h2>Blazers, Blouses, &amp; Dresses</h2>
        <table>
          <tr>
            <td><span>Quincy Size</span></td>
            <td>32 A/B</td>
            <td>32 C/D</td>
            <td>34 A/B</td>
            <td>34 C/D</td>
            <td>36 A/B</td>
            <td>36 C/D</td>
            <td>38 A/B</td>
            <td>38 C/D</td>
            <td>40 A/B</td>
            <td>40 C/D</td>
          </tr>
          <tr>
            <td><span>Dress Size</span></td>
            <td colspan="2">00 - 0</td>
            <td colspan="2">2 - 4</td>
            <td colspan="2">6 - 8</td>
            <td colspan="2">10 - 12</td>
            <td colspan="2">14</td>
          </tr>
          <tr>
            <td><span>Bust</span></td>
            <td>31.5 - 32.5</td>
            <td>33 - 34</td>
            <td>33.5 - 34.5</td>
            <td>35 - 36</td>
            <td>35.5 - 36.5</td>
            <td>37 - 38</td>
            <td>37.5 - 39</td>
            <td>39 - 40.5</td>
            <td>40.5</td>
            <td>42</td>
          </tr>
          <tr>
            <td><span>Waist</span></td>
            <td colspan="2">24 - 25</td>
            <td colspan="2">26 - 27</td>
            <td colspan="2">28 - 29</td>
            <td colspan="2">30 - 31.5</td>
            <td colspan="2">33</td>
          </tr>
        </table>
      </section>
      <section>
        <h2 class="level3">Cup size</h2>
        <ul>
          <li>We currently offer two cup sizes</li>
          <li><span>A/B</span> &mdash; For women who wear a B-cup or smaller</li>
          <li><span>C/D</span> &mdash; For women who wear a C-, D-, or DD-cup</li>
        </ul>
      </section>
      <section>
        <h2 class="level3">Length</h2>
        <ul>
          <li>Our blazers, blouses, and dresses are offered in three sleeve/torso lengths</li>
          <li><span>Regular</span> is the standard length</li>
          <li><span>Petite</span> is recommended for women under 5'4", and also for women with short torsos</li>
          <li><span>Tall</span> is recommended for women over 5’9", as well as women who have longer torsos</li>
        </ul>
      </section>
  </div>
  <div class="bottoms size-chart">
    <section>
      <h2>Pants &amp; Skirts</h2>
      <table>
        <tr>
          <td><span>Traditional Size</span></td>
          <td>00</td>
          <td>0</td>
          <td>2</td>
          <td>4</td>
          <td>6</td>
          <td>8</td>
          <td>10</td>
          <td>12</td>
          <td>14</td>
          <td>16</td>
        </tr>
        <tr>
          <td><span>Quincy Size</span></td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td>32</td>
          <td>33</td>
        </tr>
      </table>
    </section>
    <section>
      <h2 class="level3">Length</h2>
      <ul>
        <li>We offer all our pants and skirts in 3-4 inseam lengths, to accommodate short-legged and long-legged women alike</li>
        <li>Pants are also available unhemmed if you prefer to have them hemmed yourself</li>
        <li>Inseam lengths for specific products can be found by looking at measurements on the product's page</li>
      </ul>
    </section>
  </div>
  </div>
</section>