<section class="page">
  <div class="page">
    <h1>Get a Second Size on us!</h1>
    <div>
      <p>Receive a second size at no extra charge to try on at home. Keep the size that fits, and return the size that doesn’t within 14 days using our prepaid return label enclosed in every package we send out.</p>
      <p>Getting two sizes is a great way to make sure you’re buying your perfect Quincy size. Once you’ve nailed down the size that’s perfect for you, you’ll never need to think about it again. Simply create an account on our site &mdash; your Quincy size is saved and automatically fills in whenever you shop. You have the opportunity to adjust this size whenever you want, or even re-take our fit quiz. The second size option is always available for free.</p>
    </div>
  </div>
  <div class="second-size">
    <h2>FAQ</h2>
    <img src="{{ 'second-size.jpg' | asset_url }}" alt="Second Size" />
    <h3>How do I receive a second size?</h3>
    <p>When you select your size and click “Add to Bag,” you'll get the option to try a second size at home for no extra charge.  Leave us a comment when you check out with your second size request.  If you're not sure what size to choose, chat with one of our stylists to get a personalized recommendation.</p>
    <h3>How long do I get to keep the second size?</h3>
    <p>You have 14 days from the date you receive your package to try on both sizes at home &mdash; then simply return one of them using the return label.</p>
    <h3>Can I keep my second size?</h3>
    <p>Yes! Whichever size works for you &mdash; keep it! When you send back the size that didn’t work, we’ll update your profile to reflect which size is perfect for you, so you don’t have to worry about what size to buy ever again.</p>
    <h3>Second Size Terms &amp; Conditions</h3>
    <p>By choosing to receive a second size at no charge, you authorize us to store your credit card information in our secure database (we will never share this information). Your credit card will only be charged for one size upon purchase. Second size will not be charged on date of purchase. At least one of the two sizes must be returned to Quincy within 14 days from the date the product is received. If neither of the two sizes is returned by 30 days past purchase date, you authorize Quincy Apparel to charge the credit card on file for the additional size received in the order, at the product price on the original date of purchase.</p>
  </div>
</section>