<section class="page">
  {{ page.content }}
  <div class="page">
    <h1>Size Charts</h1>
    <ul class="size-chart">
      <li name="div.tops">Tops</li>
      <li name="div.bottoms">Bottoms</li>
      <li name="div.dresses">Dresses</li>
    </ul>
    <div class="tops size-chart">
      <p>Quincy top sizes take into account the three most important body dimensions for fit: <span>bust</span>, <span>cup size</span>, and <span>length</span>.</p>
      <p>Find your ideal Quincy size</p>
      <a href="#">Take the Quiz ></a>
    </div>
    <div class="bottoms size-chart">
      <p>Our pants and skirts are sized by <span>waist</span> and <span>length</span>.</p>
      <p>Find your ideal Quincy size</p>
      <a href="#">Take the Quiz ></a>
    </div>
    <div class="dresses size-chart">
      <p>Quincy top sizes take into account the three most important body dimensions for fit: <span>bust</span>, <span>cup size</span>, and <span>length</span>.</p>
      <p>Find your ideal Quincy size</p>
      <a href="#">Take the Quiz ></a>
    </div>
  </div>
  <div class="tops size-chart">
    <section>
      <h2>Bust</h2>
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>Traditional Size</td>
            <td>Quincy Size</td>
          </tr>   
          <tr>
            <td>00</td>
            <td rowspan="2">32</td>
          </tr>
          <tr>
            <td>0</td>
          </tr>
          <tr>
            <td>2</td>
            <td rowspan="2">34</td>
          </tr>
          <tr>
            <td>4</td>
          </tr>
          <tr>
            <td>6</td>
            <td rowspan="2">36</td>
          </tr>
          <tr>
            <td>8</td>
          </tr>
          <tr>
            <td>10</td>
            <td rowspan="2">38</td>
          </tr>
          <tr>
            <td>12</td>
          </tr>
          <tr>
            <td>14</td>
            <td rowspan="2">40</td>
          </tr>
          <tr>
            <td>16</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h2>Cup size</h2>
      <ul>
        <li>We currently offer two cup sizes</li>
        <li><span>A/B</span> &mdash; For women who wear a B-cup or smaller</li>
        <li><span>C/D</span> &mdash; For women who wear a C-, D-, or DD-cup</li>
      </ul>
    </section>
    <section>
      <h2>Length</h2>
      <ul>
        <li>Our tops are offered in three sleeve/torso lengths</li>
        <li><span>Regular</span> is the standard length</li>
        <li><span>Petite</span> is recommended for women under 5'4", and also for women with short torsos</li>
        <li><span>Tall</span> is recommended for women over 5’9", as well as women who have longer torsos</li>
      </ul>
    </section>
  </div>
  <div class="bottoms size-chart">
    <section>
      <h2>Waist</h2>
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>Traditional Size</td>
            <td>Quincy Size</td>
          </tr>   
          <tr>
            <td>00</td>
            <td>24</td>
          </tr>
          <tr>
            <td>0</td>
            <td>25</td>
          </tr>
          <tr>
            <td>2</td>
            <td>26</td>
          </tr>
          <tr>
            <td>4</td>
            <td>27</td>
          </tr>
          <tr>
            <td>6</td>
            <td>28</td>
          </tr>
          <tr>
            <td>8</td>
            <td>29</td>
          </tr>
          <tr>
            <td>10</td>
            <td>30</td>
          </tr>
          <tr>
            <td>12</td>
            <td>31</td>
          </tr>
          <tr>
            <td>14</td>
            <td>32</td>
          </tr>
          <tr>
            <td>16</td>
            <td>33</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h2>Length</h2>
      <ul>
        <li>We offer all our pants and skirts in 3-4 inseam lengths, to accommodate short-legged and long-legged women alike</li>
        <li>Pants are also available unhemmed if you prefer to have them hemmed yourself</li>
        <li>Inseam lengths for specific products can be found by looking at measurements on the product's page</li>
      </ul>
    </section>
  </div>
  <div class="dresses size-chart">
    <section>
      <h2>Bust</h2>
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>Quincy Size</td>
            <td>Dress Size</td>
            <td>Bust</td>
            <td>Waist</td>
          </tr>   
          <tr>
            <td>32 A/B</td>
            <td rowspan="2">00 - 0</td>
            <td>31.5 - 32.5</td>
            <td rowspan="2">24 - 25</td>
          </tr>
          <tr>
            <td>32 C/D</td>
            <td>33 - 34</td>
          </tr>
          <tr>
            <td>34 A/B</td>
            <td rowspan="2">2 - 4</td>
            <td>33.5 - 34.5</td>
            <td rowspan="2">26 - 27</td>
          </tr>
          <tr>
            <td>34 C/D</td>
            <td>35 - 36</td>
          </tr>
          <tr>
            <td>36 A/B</td>
            <td rowspan="2">6 - 8</td>
            <td>35.5 - 36.5</td>
            <td rowspan="2">28 - 29</td>
          </tr>
          <tr>
            <td>36 C/D</td>
            <td>37 - 38</td>
          </tr>
          <tr>
            <td>38 A/B</td>
            <td rowspan="2">10 - 12</td>
            <td>37.5 - 39</td>
            <td rowspan="2">30- 31.5</td>
          </tr>
          <tr>
            <td>38 C/D</td>
            <td>39 - 40.5</td>
          </tr>
          <tr>
            <td>40 A/B</td>
            <td rowspan="2">14</td>
            <td>40.5</td>
            <td rowspan="2">33</td>
          </tr>
          <tr>
            <td>40 C/D</td>
            <td>42</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <h2>Cup size</h2>
      <ul>
        <li>We currently offer two cup sizes</li>
        <li><span>A/B</span> &mdash; For women who wear a B-cup or smaller</li>
        <li><span>C/D</span> &mdash; For women who wear a C-, D-, or DD-cup</li>
      </ul>
    </section>
    <section>
      <h2>Length</h2>
      <ul>
        <li>Our dresses are offered in three sleeve/torso lengths</li>
        <li><span>Regular</span> is the standard length</li>
        <li><span>Petite</span> is recommended for women under 5'4", and also for women with short torsos</li>
        <li><span>Tall</span> is recommended for women over 5’9", as well as women who have longer torsos</li>
      </ul>
    </section>
  </div>
</section>