<section class="page">
  <div class="page">
    <h1>Meet Quincy</h1>
  </div>
  <div class="meet-quincy">
  <img class="new-york" src="{{ 'new-york.jpg' | asset_url }}" alt="New York" />
  <h2>A Fresh Take on Tailoring</h2>
  <p>The marriage of traditional tailoring with a fashion-forward eye is the cornerstone of our design aesthetic.</p>
  <p>By taking a few cues from menswear and focusing on style, we have transformed professional wear into wardrobe essentials. We achieve that by paying special attention to the details and getting the fit truly right. Quincy garments are defined by figure-flattering silhouettes and seaming, intricate trims, silky linings; and perfectly placed buttons, darts and vents.</p>
  <img class="fit" src="{{ 'fit-image.jpg' | asset_url }}" alt="Chelsea Blazer">
  <div class="fit">
    <h2>It's All About the Fit</h2>
    <p>Every woman knows that the fit of a beautiful garment elevates it from like to love. We saw an opportunity &mdash; or rather a necessity &mdash; to replace standard, generic garment sizes with sizes that accurately reflect the range of real women's body shapes.</p>
    <p>To achieve the perfect fit, we take more of a woman’s body into account than standard sizing. Our sizes are defined by bust and cup size, hip to waist ratios, and height – the aspects of a woman's body that vary the most from woman to woman. By focusing on shape rather than size, Quincy has created garments that flatter your body, whatever its proportions.</p>
  </div>
  <h2>Made in NYC</h2>
  <p>The collection is designed and manufactured in the heart of New York City's Garment District using the same factories and fabric suppliers as your favorite designer brands. From our beginnings, we have been committed to supporting an industry that has made NYC what it is today. Being so close to our suppliers and factories allows us to respond quickly to trends as well as ensure the highest level of quality in each step of the process.</p>
  <p>We pack and ship every order, right from our office guaranteeing that our customers get exactly what they order every time. Come visit our <a href="/pages/showroom">showroom</a> and say hello!</p>
  <img class="arrow" src="{{ 'showroom-arrow.png' | asset_url }}" alt="Showroom" />
  </div>
</section>